[2017-04-25 20:31] yihui opened #1 "Dason's website"
Hi @Dasonk, do you want to move your website here? You don't have to use blogdown. Jekyll is fine, but I suggest you use Netlify, which is better than Github pages IMO.

[2017-04-26 13:37] Dasonk commented on #1
Interesting.  I have been thinking about getting back into blogging recently but probably won't for another week or two.  When I get some time I'll look into what it takes to switch everything over and see if I have the time.  Thanks for pinging me with the idea.

[2017-04-26 14:32] yihui opened #2 "Rename repo likanzhan.github.io"
@likanzhan Could you rename your repo https://github.com/rbind/likanzhan.github.io to something like likan or likanzhan? I'm asking because likanzhan.github.io may be a little confusing (you are no longer hosting the website using Github pages). Thanks!

[2017-04-26 14:36] yihui opened #3 "Rename netlify_zhao"
@dapengde Do you mind renaming the repo https://github.com/rbind/netlify_zhao to something more neutral like `zhao` or `peng` or `pzhao`? Otherwise people might think you are affiliated with Netlify somehow. Since you are an early member of Netlify, you have plenty of choices for the repo name 😉

[2017-04-26 14:40] likanzhan commented on #2
I'm new in this area, could you let me know how to change this? Thanks.

[2017-04-26 14:46] yihui commented on #2
Sure: https://github.com/rbind/likanzhan.github.io/settings

[2017-04-26 14:53] likanzhan commented on #2
Page not found. It seems that I do not have the permission to change it.

[2017-04-26 14:56] yihui commented on #2
Ah, sorry about that! Now you are the admin of your repo, and should be able to change it.

[2017-04-26 15:20] #3 closed

[2017-04-26 15:21] likanzhan commented on #2
Thanks, and I'm wondering how should I configure the DNS now?
It used to be something like
likanzhan.github.io

[2017-04-26 15:32] likanzhan commented on #2
I cannot access my website with `likan.info` now

[2017-04-26 15:34] yihui commented on #2
Oh I just realized that your repo was not the Markdown source repo but only the output files. You have at least three different ways to go. Don't worry. I'll help you in a few minutes.

[2017-04-26 15:43] yihui commented on #2
The easiest way is to replace the output files with source files in the repo (like what I do in [my repo](https://github.com/rbind/yihui)). But if you don't want to do that, I can provide other solutions.

[2017-04-26 17:47] yihui commented on #2
Okay, I figured it out. Basically you need to delete your repo https://github.com/likanzhan/likanzhan.github.io since it conflicts with this one. There is nothing you need to change in DNS.

[2017-04-27 05:01] likanzhan commented on #2
Thanks. Actually, the repo under my name was deleted after I transferred the repo to rbind. In that case, if I changed the repo name in rbind from "likanzhan.github.io" to "likanzhan", then I cannot access the website via "likan.info". As I need to use this webpage today, so I added another repo under my name. Sorry for the confusing. Likan

[2017-04-27 05:08] yihui commented on #2
No worries. When you do not need emergent access to likan.info, you can try to delete the repo https://github.com/likanzhan/likanzhan.github.io and wait for a few minutes before Github knows that likan.info refers to the repo here in rbind.

[2017-04-27 05:34] likanzhan commented on #2
It works now. Thanks. Likan

[2017-04-27 05:54] #2 closed

[2017-05-03 18:50] cderv opened #12 "New Blogging website"
Hi,

I was thinking for some time now to start blogging with the help of blogdown. I just found out about netlify and now about rbind. It seems that everything tells me that I should start.
I have a netlify account, but not yet a repo for my blog in my GH account.
How should I proceed ?

[2017-05-03 19:47] yihui commented on #12
I have sent you an invite to join rbind. Please read https://support.rbind.io/about/ to proceed.

[2017-05-03 19:58] cderv commented on #12
Thanks. I have read the about page.
Will call the repository cderv as it will be my personnal bloging website.

As I don't know really where to start, I will begin to study others blogdown site to see how to begin.
If you have some advice, feel free!

[2017-05-03 21:25] thercast commented on #12
@cderv we are happy to have you on board!  I recently went through the process of converting my site from a previous framework to `blogdown` and you can read more details about my experience [here](https://support.rbind.io/2017/04/27/r-podcast-website/).  Here's what I would recommend to proceed:

1. Accept the invitation that Yihui sent to join rbind so we can create a repository for you.  It sou

[2017-05-03 21:42] cderv commented on #12
Thanks! Nice welcoming and introduction !
I will do all this step by step and come back here if needed or when done.

[2017-05-04 04:01] thercast commented on #12
@cderv I have a repository set for you on rbind at <https://github.com/rbind/cderv> and you should have full permissions to push your local files of the site to the repository when you're ready.  I want you to have a smooth experience getting your site off the ground, so if you'd like me to get you set up with a simple site as a starting point let me know and I'd be happy to do that for you.

[2017-05-04 16:48] thercast opened #13 "Rob Hyndman's intro to site"
Friendly reminder to include a post from @robjhyndman on rbind-support describing his web site once he has time to flesh it out.  An example is on his site [here](http://robjhyndman.com/hyndsight/blogdown/)

[2017-05-07 17:22] apreshill opened #14 "New site subdomain request"
Hi,

I would like to use blogdown to create a new site with the subdomain "apreshill.rbind.io" using the Hugo academic theme. I have created a Netlify account linked to my Github. Please let me know the next steps.

Thanks for such amazing support and documentation thus far!
Alison

[2017-05-08 06:49] yihui commented on #14
Please let us know your Netlify subdomain, and we will assign apreshill.rbind.io to you.

BTW, please also let us know if you want to create the Github repo under rbind. We are always looking forward to more examples here to inspire more people. Thanks!

[2017-05-08 18:55] romainfrancois opened #15 "subdomain romain.rbind.io"
I've started to exhume some content from old blogs to the `rbind/romain` repo.

All seems to work fine with netlify: https://juggler-graph-86721.netlify.com

Can I have `romain.rbind.io` please.

[2017-05-08 21:58] yihui commented on #15
Sure. I have set the CNAME record for you, and you need to set it up on your side, too (hit the button "Set up domain" on Netlify).

[2017-05-09 06:10] romainfrancois commented on #15
Done. Thanks a lot.

[2017-05-09 06:10] #15 closed

[2017-05-09 06:18] yihui commented on #15
No problem. You can actually redirect the Netlify subdomain to your own domain, e.g. https://github.com/rbind/yihui/blob/master/static/_redirects#L8-L9

[2017-05-09 19:48] thercast opened #16 "Intro to site request for Romain"
Greetings @romainfrancois , we are excited to have your site hosted on rbind!  It would be great if you could add a short post that introduces your site and any other information you'd like to share on the [support.rbind.io](https://support.rbind.io/) portal.  It does not need to be long, and check out the various posts that have already been made for some examples.  Also check out the [about](htt

[2017-05-09 20:31] romainfrancois commented on #16
sure. I will definitely do this. For now I'm getting familiar with the platform, and exhuming some old blog posts, then I have some original posts on my todo list, I'd like to have some meat and confidence that I'll keep blogging before advertising.

and thanks for the kind words :-)

[2017-05-10 21:54] yihui opened #17 "Website for Jan de Leeuw"
@thercast Could you help @deleeuw set up a website here?

- Repo name: deleeuw
- Theme: https://github.com/lambdafu/hugo-finite
- Netlify subdomain `deleeuw.netlify.com` if possible (let me know if not)
    - add the custom domain `deleeuw.rbind.io`
    - enable HTTPS
    - add `deleeuw@stat.ucla.edu` as a collaborator

Thanks!

[2017-05-11 20:23] apreshill commented on #14
Hi Yihui,

My very unfortunate Netlify subdomain is "garbage-collector-janice-16154". I'm happy to transfer the repo to rbind to help other new users! Just let me know how to do so.

Alison

[2017-05-11 20:53] yihui commented on #14
I have bound the domain apreshill.rbind.io to your Netlify subdomain, so you just need to apply the custom domain on Netlify.

Please read https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/ or https://support.rbind.io/about/ on how to transfer your repo. Thanks!

[2017-05-13 00:03] thercast commented on #17
The site has been deployed successfully!  Address is <https://deleeuw.rbind.io/> and @deleeuw has been added as a collaborator.  @yihui please check to see if I missed anything in the process.

[2017-05-13 00:04] yihui commented on #17
That is perfect. Thanks!

[2017-05-13 00:04] #17 closed

[2017-05-13 11:34] kgilds opened #18 "New Blogging Website"
I would love to get started with blog down and use R studio to generate content. I will need a domain name.

Thanks

[2017-05-13 21:20] ewenme opened #19 "joining rbind / *.rbind.io subdomain"
Hi,

Progressing through blogdown and ready to pull the trigger on Netlify...looking to share opinionated analysis and ethical applications of machine learning. An invite to rbind would be much appreciated!

Thanks,

Ewen

[2017-05-14 02:31] yihui commented on #19
We have sent the invite. Let me know your preferred subdomain name as well as your Netlify subdomain, so we can configure the DNS.

[2017-05-14 09:55] ewenme commented on #19
great stuff.
preferred subdomain: ewenme
Netlify subdomain: accountant-lucy-75200

[2017-05-15 03:46] yihui commented on #19
Done. You need to set the custom domain ewenme.rbind.io on Netlify.

And feel free to transfer your repo to rbind any time you like. Thanks!

[2017-05-15 05:43] #13 closed

[2017-05-15 17:48] ewenme commented on #19
I've transferred it over, assume I'll need to update the Github-Netlify link to the new repo. Thanks back!

[2017-05-15 17:57] yihui commented on #19
Perfect. Could you write a short post to introduce your website on https://support.rbind.io when you feel ready?

[2017-05-16 21:56] ewenme commented on #19
Yes, hope this does the trick!

## A little bit on me

I'm Ewen, an analyst and data science hopeful with a social sciences background, currently working in UK government. I'm about to join the [Bank of England](http://www.bankofengland.co.uk/Pages/home.aspx), the central bank for the United Kingdom, having been working for [Transport for London](https://tfl.gov.uk/) (government body responsible f

[2017-05-17 02:14] yihui commented on #19
Thanks! That looks pretty good. Do you know how to send a pull request on Github?

[2017-05-17 22:08] kgilds commented on #18
preferred subdomain: kgilds
Netlify subdomain: https://private-layer-43278.netlify.com/

[2017-05-17 22:13] cderv commented on #12
Just to let you know as I did not answer you right away that I am working on my blog following your advices. Netlify is set up, no difficulties there, and I am trying now some themes. Not all themes are obvious and fully working. I will still try and keep you updated.

[2017-05-18 01:35] yihui commented on #18
Done.

[2017-05-24 22:12] JVAdams opened #22 "new website / subdomain request"
I would like to create a new website using blogdown.  I'm okay with the default Hugo theme.  I plan to have the source on Github.  I would like the subdomain, JVAdams.rbind.io.  I have no experience with Netlify.

[2017-05-25 02:14] yiluheihei commented on #22
Hosting your website on Netlify from your Git repository following the steps in [this guid](https://hugodocs.info/hosting-and-deployment/hosting-on-netlify/). Once your website repository is connect with Netlify, Netlify will render your website automatically and  assign a subdomain `*.Netlify.com` to you.

Sending your Netlify subdomain  in this  issue and Rbind organization will assign your desi

[2017-05-25 02:51] yihui commented on #22
Thanks @yiluheihei! That is exactly what I hope Rbind family members could do (help newcomers).

@JVAdams I have sent the invite to you to join rbind. We can do the rest of things for you.

@thercast Do you have time to create the repo for @JVAdams and set up Netlify as well? Let me know the Netlify subdomain when you are done. Thanks!

[2017-05-25 03:49] thercast commented on #22
I created the repository called [jvadams](https://github.com/rbind/jvadams) with a sample site created fresh from `blogdown`.While it seems like the site was built successfully in Netlify, I can't seem to browse to the site using the address of [`http://jvadams.rbind.io`](https://jvadas.rbind.io/).  The subdomain for the site is `jvadams.rbind.io` and the site is named `jvadams` in Netlify.  @yihu

[2017-05-25 04:04] yihui commented on #22
No, you didn't. I have to point the CNAME record to the Netlify subdomain, which I just did. The only thing left on your side is to enable HTTPS on Netlify.

[2017-05-25 04:21] thercast commented on #22
Cool, I got https configured so it looks like once the CNAME rreaches TTL we should be all set 👍

[2017-05-25 10:52] JVAdams commented on #22
Thank you, @yiluheihei, @thercast, and @yihui.  I can now browse the sample site as both [http://jvadams.rbind.io](http://jvadams.rbind.io) and [https://jvadams.rbind.io](https://jvadams.rbind.io).  Next step, give **blogdown** a try.

[2017-05-26 13:01] drkamarul opened #23 "Joining rbind"
I am a medical epidemiologist. have a website www.myanalytics.com.my where WordPress powers my blog. I write and reblog posts about epidemiology and statistics. I would like to join rbind and migrate from WordPress to hugo. Helps are guidance are very much welcome.

Cheers.

Kamarul

[2017-05-26 13:51] yiluheihei commented on #23
Welcome to [rbind family](https://support.rbind.io/).

There is a very nice step-by-step [guid](https://github.com/rbind/support/issues/12#issuecomment-299040288) by [thercast](https://github.com/thercast).  And your can see the blogdown book for full details: [https://bookdown.org/yihui/blogdown](https://bookdown.org/yihui/blogdown).

If you have any further questions, please leave a comment here

[2017-05-27 03:07] homerhanumat opened #24 "joining rbind"
I would like to join **rbind**.

I don't think I need any help setting up sites, but would like to go through the process of joining **rbind** and to keep on experimenting with blogdown -- which I have been using for a while -- with a view to becoming able to advise others, especially my own students in the coming academic year.

Can I get an invitation email?

Netlify sudomain:  singer-alvin-2438

[2017-05-27 06:19] drkamarul opened #25 "Converting wordpress to .xml and to jekyll - How to run exitwp::xmllint for .xml file (guide for newbies)"
I refer to this github link <https://github.com/thomasf/exitwp>  and I am using Windows 10.  I have downloaded **exitwp**, exported wordpress blogs and have placed the `.xml` files inside the `wordpress-xml` directory inside `exitwp` folder in my `E` drive.

I could see see a few files for examples `exitwp`, `html2text` and a few more files BUT I do not know how to proceed to the next steps namely

[2017-05-27 07:08] drkamarul commented on #23
I have changed my mind. Instead of using my existing webpages, I will create a brand new website using blogdown on HUGO platform. I suppose, someone will send an invite to me and create a repo too.  Thanks

[2017-05-28 11:53] yihui commented on #24
Sure. The invitation has been sent, and the subdomain has been assigned. You need to fill out the custom domain homerhanumat.rbind.io on Netlify. Please feel free to transfer your repo to rbind after you accept the invitation. Thanks!

[2017-05-28 22:10] homerhanumat commented on #24
Done.  Thanks!

[2017-05-28 22:10] #24 closed

[2017-05-28 23:48] yihui commented on #24
It seems the URL http://homerhanumat.rbind.io still does not work for me. Did you use the button "Configure domain" on Netlify?

![image](https://cloud.githubusercontent.com/assets/163582/26532991/e3e5bb40-4453-11e7-9bbb-ad54f5e14d09.png)

[2017-05-28 23:59] homerhanumat commented on #24
It seems I had forgotten to go back and configure the domain and to enable https.  It now works for me at:

[2017-05-28 23:59] yihui commented on #25
From my experience, running xmllint is optional. Typically the XML file is valid.

You have to open a command window, cd to the directory of exitwp, and run python as a command line. You need a little bit experience with using command-line tools, and Windows is an unfortunate OS if you have never used the command window (shell / terminal) before.

[2017-05-29 00:00] yihui commented on #24
Yep, works now.

[2017-05-29 00:15] drkamarul commented on #25
Will give it a shot... Thanks

[2017-05-29 00:24] homerhanumat commented on #24
By the way (I'm not sure where to post this observation, but I saw your Rbind post in whihc you express a dislike for Disqus) there is a way to use Github Issues as the locus for comments.  You pull them down with a GEt request to the Github Issues api.  I have implemented them on my other **blogdown** site, see, e.g.:

The comments on the above post link to the post of the Don Williamson, the per

[2017-05-29 00:37] yihui commented on #24
Thanks! I was aware of Don's post. While I love the fact that one can use Markdown, I don't like the fact that one has to jump to Github to write comments. If there are too many comments, it may not be straightforward to fetch all of them via the Github API at once.

[2017-05-29 16:40] romainfrancois commented on #16
Is there somewhere I can put screenshots to discuss some of my theming choices ?

[2017-05-30 04:28] thercast commented on #16
I'd recommend you post them to the [rbind/support](https://gitter.im/rbind/support) channel in Gitter since we have a growing community of `blogdown` users helping each other with feedback, suggestions, and troubleshooting.

[2017-05-30 04:50] thercast commented on #23
@drkamarul we are happy to have you join Rbind!  I created a repository here called [rbind/drkamarul](https://github.com/rbind/drkamarul) and you should be able to make any changes you wish. I started you off with a simple example site produced with `blogdown::new_site()`.  We can also configure your site domain to be part of the Rbind domain free of charge.  All I need is whatever you wish to cal

[2017-05-30 04:52] thercast commented on #18
@kgilds Just checking to see if everything is working as expected?  If so let me know and we can close the issue.  Welcome aboard!

[2017-05-30 04:53] thercast commented on #19
@ewenme Would you like some assistance with submitting a pull request to our Rbind support site?  I'm happy to help, just send me a note.

[2017-05-30 04:58] thercast commented on #25
I've never had great luck running command-line utilities in Windows, so I hope you have better luck than me.  If you run in to problems and would like some assistance, I could easily spin up a linux server and install the exitwp tool to generate your converted site files.

[2017-05-30 05:00] thercast commented on #22
@JVAdams since the sample site and domain address are working I will close the issue.  Feel free to open another issue or send a note to the rbind/support Gitter channel if you have further questions.  Welcome aboard!

[2017-05-30 05:00] #22 closed

[2017-05-30 05:01] thercast commented on #14
@apreshill Just checking to see if you have any issues with getting your repository transferred?  I'm glad to help if you need further assistance.

[2017-05-30 05:32] drkamarul commented on #25
@thercast , that is very kind of you. For now, I think I will start from zero - meaning I will not migrate my existing webpages to the new platform. This is the best for now. And this is because, my main objective is to have the simplest and most replicable method to create a website, which I then can teach to my doctor of public health students. Majority of them have almost zero knowledge on codi

[2017-05-30 05:34] drkamarul commented on #23
@thercast , amazing! I am very much grateful for your help. I will add some more post and see of I can tweak a few more things there. I will keep you updated.

[2017-05-30 09:16] drkamarul commented on #23
@thercast , i have added a new post and edited a few things. I had forked and pulled the repo. And then after I had rendered the webpage using `serve_site` function (the public folder created), I pushed the changes the repo (`https://github.com/rbind/drkamarul`). But no new changes seen on the repo. Did I miss anything? Please forgive my inadequate knowledge about github functionality

[2017-05-30 10:32] yihui commented on #18
@kgilds You have to configure the domain to kgilds.rbind.io on Netlify:

![](https://cloud.githubusercontent.com/assets/163582/26532991/e3e5bb40-4453-11e7-9bbb-ad54f5e14d09.png)

[2017-05-30 10:33] yihui commented on #19
The PR #21 has been merged.

[2017-05-30 10:33] #19 closed

[2017-05-30 11:16] romainfrancois commented on #16
![home](https://cloud.githubusercontent.com/assets/2625526/26580838/236f4952-453a-11e7-88ef-7bed0da86354.png)
![post](https://cloud.githubusercontent.com/assets/2625526/26580836/236df9c6-453a-11e7-84f0-81a90b8a44d2.png)
![gallery](https://cloud.githubusercontent.com/assets/2625526/26580837/236eb956-453a-11e7-9636-8f8fc3859e3a.png)
![recent_posts](https://cloud.githubusercontent.com/assets/2625526/

[2017-05-30 18:05] cderv commented on #12
Hello,
is it possible to have `cderv.rbind.io` domain ?
I deployed my blog on netlify. my subdomain is choreographer-dog-82283

thanks

[2017-05-30 20:47] kgilds commented on #18
@yihui thanks done.

[2017-05-30 20:49] kgilds commented on #18
@thercast  thanks ; everything is set up now that I configured to the new domain. Feel free to close.

[2017-05-30 20:53] #18 closed

[2017-05-30 22:41] yihui commented on #12
Of course! I just set the subdomain for you, and you need to configure it on your side, too: https://support.rbind.io/about/

[2017-05-30 22:59] yihui commented on #18
I'm not sure if it is due to delay in my browser, but http://kgilds.rbind.io does not seem to work for me. Are you sure you configured the custom domain on Netlify?

[2017-05-30 23:01] yihui commented on #18
BTW, please feel free to transfer https://github.com/kgilds/kwgsite to rbind (like others did) if you like.

[2017-05-31 00:42] kgilds commented on #18
Thanks for the catch, I messed that up;  I fixed that and made the request to transfer.

[2017-05-31 00:51] yihui opened #27 "Rename the hugoLithium repo"
Hi @homerhanumat, could you rename the repo https://github.com/rbind/hugoLithium to make it obvious that it is your personal repo? I feel the name hugoLithium is too general (naming is hard). Thanks!

[2017-05-31 01:23] homerhanumat commented on #27
I have already tried to do that, but the repo now appears only under rbind (not under github.com/homerhanumat) and on rbind I can't make changes.

[2017-05-31 01:54] yihui commented on #27
Sorry. Just made you the admin of this repo.

[2017-05-31 02:02] homerhanumat commented on #27
Thanks.  Repo has been renamed.

[2017-05-31 02:25] drkamarul commented on #18
@yihui @thercast , I think I got the same issue. my rbind repo `https://github.com/rbind/drkamarul` does not contain the updated files and folders (including `public` folder`) as shown below:

![image](https://cloud.githubusercontent.com/assets/6749223/26612823/c831a886-45e9-11e7-96ed-70c7255ef301.png)

For your info, I had successfully rendered the page and **netlify** able to show my page  <http

[2017-05-31 05:23] yihui commented on #27
Perfect. Thanks!

[2017-05-31 05:23] #27 closed

[2017-05-31 05:52] yihui commented on #18
@drkamarul 1. Your git remote is probably not correct (check with `git remote -v`). 2. You need me to set up the subdomain drkamarul.rbind.io for you, which I just did.

[2017-05-31 06:06] cderv commented on #12
Thanks ! All set up & working.

[2017-05-31 06:23] drkamarul commented on #18
Thanks @yihui for checking and setting up the subdomain. I run `git remote -v`, this what I got

![image](https://cloud.githubusercontent.com/assets/6749223/26618243/3e22ea4c-460c-11e7-936f-255414bf743b.png)

The site is up and running now which is very exciting. Many2 thanks to everyone esp @yihui and @thercast . Now it is the time to add more post and do some tweakings.

[2017-05-31 07:16] thercast commented on #12
Glad you have everything working!  I'll close the issue for now but feel free to contact us if you have any other issues to discuss.

[2017-05-31 07:16] #12 closed

[2017-05-31 07:24] thercast commented on #23
@drkamarul I see a few commits from you in the site repository so that part is working as expected.  I had forgotten to get you set up with the netlify service, but now you have a version of your site available at <http://trader-carelessness-31200.netlify.com/> (this is a random domain assigned by netlify).  But if you give us a desired URL you'd like to have on the `.rbind.io` domain (see my earl

[2017-05-31 11:59] yihui commented on #12
After you have more content on your website, please feel free to write a post introducing your website on https://support.rbind.io

[2017-05-31 18:23] thercast commented on #16
Your post is now online and looks fantastic!  I'll close this issue now.

[2017-05-31 18:23] #16 closed

[2017-05-31 18:24] romainfrancois commented on #16
Thanks for the help :-)

[2017-06-01 06:39] drkamarul commented on #23
@thercast,
1. my domain is drkamarul.rbind.io which is fine.
2. every time I click `Addins::serve.site`, should I deploy the `public` folder` to **netlify**?
3. or should I just commit the changes on git and push the changes?

It seems that I need to deploy (copy and paste the `public` folder in Netlify) after every time I have changes (for example add post or delete post).

Or did I miss anything

[2017-06-01 18:36] thercast commented on #23
Thanks @drkamarul .  It looks like we have your site up and running at <http://drkamarul.rbind.io/> and I've gone ahead and updated your repo description to have this URL.  The nice part of netlify is that you do not need to do anything special once you push your changes to the repo master branch.  Netlify is set to automatically re-deploy your site once it detects any update.  Your local Git conf

[2017-06-02 01:22] asimumba opened #28 "New website sub-domain request"
Hi,
I am requesting for access to transfer my repo to Rbind. My desired sub-domain name is : asimumba.rbind.io.

[2017-06-02 04:33] thercast commented on #28
@asimumba I've sent you an invitation to join the Rbind group (you should receive an email shortly).  Once you accept that invite, go ahead and [transfer](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/) your site repository and once it is complete we will be glad to configure Netlify to publish your site automatically to `asimumba.rbind.io`.

[2017-06-05 13:50] asimumba commented on #28
I want to withdraw the repo called blog and transfer a new one with a descriptive name.

[2017-06-05 14:22] asimumba commented on #28
@thercast I want to withdraw the repo called blog and transfer a new one with a descriptive name.

[2017-06-06 03:11] yihui commented on #28
@asimumba I have made you the admin of the repo so that you can delete it by yourself.

[2017-06-06 08:35] yihui opened #29 "New site for Kevin Cheung"
I wonder if anyone has time to create a repo for @dataopt:

[code]

[2017-06-06 15:53] asimumba commented on #28
@yihui great. I hope you can also configure the hosting part for netlify. Thanks in advance

[2017-06-06 21:36] kang-yu opened #30 "create a new site"
Hi Yihui,

I would like to create a blogdown site for me with the subdomain `kangyu.rbind.io`. Actually, I have a GitHub repo kang-yu.github.io that was generated with pelican, but the source files were lost due to lost of my laptop two years ago... I don't know whether it is possible or not to transfer it here.

Cheers,
Kang

[2017-06-07 04:31] thercast commented on #29
I have the site created at the repo [rbind/dataopt](https://github.com/rbind/dataopt) with the auto deploy configured on netlify.  I requested the domain of `dataopt.rbind.io` so we should be good once the cname record is set.

[2017-06-07 04:35] yihui commented on #29
I have set the CNAME record. Once you enable HTTPS, I think we are all set. Thanks!

[2017-06-07 04:38] thercast commented on #28
@asimumba I see that you have a new repo of [rbind/asimumba](https://github.com/rbind/asimumba) transferred over, so I configured netlify to deploy your site to [asimumba.rbind.io](http://asimumba.rbind.io).  Once the DNS record catches up you should be able to see your new site using the new link.

[2017-06-07 04:46] yihui commented on #30
I looked at your website and you do not really have a huge amount of pages, so I suggest you just copy and paste the pages to Markdown files and tweak them a bit when necessary.

I have invited you to join rbind, and you should be able to create the repo by yourself, but let us know anyway if you really need help after you read at least the Chapter 1 of the [blogdown book](https://bookdown.org/yih

[2017-06-07 04:47] thercast commented on #29
All set 👍

@dataopt your web site files are now in the [rbind/dataopt](https://github.com/rbind/dataopt) repository (you have full access to the repository) and your site will be automatically deployed to [dataopt.rbind.io](http://dataopt.rbind.io/) on every push to your master branch.  Let us know if you need anything else or have any issues working with the site.

[2017-06-07 04:49] yihui commented on #28
I have configured the rbind.io subdomain. Once HTTPS is enabled on Netlify, you should be ready to go.

[2017-06-07 04:57] thercast commented on #28
We should be all set.  @asimumba your site is live at [asimumba.rbind.io](https://asimumba.rbind.io)

[2017-06-07 05:11] thercast commented on #23
@drkamarul I'll close the issue since your site is successfully deployed, but feel free to re-open if you encounter any problems or questions

[2017-06-07 05:11] #23 closed

[2017-06-07 05:11] thercast commented on #25
Since your site is now live I'll close this issue

[2017-06-07 05:11] #25 closed

[2017-06-07 05:13] drkamarul commented on #23
@thercast , thanks for the help. Will add new post the the site.

[2017-06-07 13:55] asimumba commented on #28
@yihui @thercast thanks for the brilliant work. I can't wait to get my R journey a notch higher.

[2017-06-07 23:09] kang-yu commented on #30
Thanks for the invitation, Yihui! I was wondering I have to claim a subdomain name like a github username, and of course it is cool:) I am trying Netlify.

[2017-06-07 23:10] #30 closed

[2017-06-08 02:13] shanmdphd opened #31 "Please invite me."
I would like to get started with blogdown. Would you please invite me so that I can transfer my repo to rbind? https://github.com/shanmdphd/shanmdphd.rbind.io

Preferred subdomain: shanmdphd
Netlify subdomain: https://shanmdphd.netlify.com/

[2017-06-08 02:38] yihui commented on #30
I have set the CNAME record of `kangyu.rbind.io` to `kangyu.netlify.com`. Please feel free to use it on Netlify.

![](https://cloud.githubusercontent.com/assets/163582/26532991/e3e5bb40-4453-11e7-9bbb-ad54f5e14d09.png)

[2017-06-08 04:54] yihui commented on #31
Invited. Subdomain shanmdphd.rbind.io added.

[2017-06-08 05:01] shanmdphd commented on #31
Thanks, @yihui.

[2017-06-08 05:02] #31 closed

[2017-06-08 07:23] thercast commented on #28
I'll close this issue but feel free to reach out to our Rbind community if you have additional questions along the way.  Welcome aboard!

[2017-06-08 07:23] #28 closed

[2017-06-09 14:44] romainfrancois opened #32 "rgo.rbind.io"
I'm probably going to write many R and Go posts, so I'm copying (for now) that content into a dedicated site.

Can I have `rgo.rbind.io` for `http://priest-seal-36447.netlify.com` please.

[2017-06-09 19:42] yihui commented on #32
Done. Since you don't have to compete with many other people at the moment in terms of the rbind subdomains, how about just go.rbind.io? Just a suggestion.

[2017-06-09 19:43] romainfrancois commented on #32
even better :-)

[2017-06-09 19:44] yihui commented on #32
Okay, feel free to use go.rbind.io then. I just set the CNAME record.

[2017-06-09 19:46] romainfrancois commented on #32
Thanks. Same as last time, I'll probably noodle around with themes before I talk about it.

[2017-06-09 19:46] #32 closed

[2017-06-09 19:49] yihui commented on #32
No problem. Take your time!

[2017-06-09 22:41] apreshill commented on #14
@thercast Hi Eric- thank you! I'm to point where it is asking about team access- vectors and matrix. Is there a correct choice here?

[2017-06-09 22:50] yihui commented on #14
Either should be fine. It should not matter.

[2017-06-09 22:53] apreshill commented on #14
Great thanks- I transferred it.

[2017-06-09 22:53] #14 closed

[2017-06-14 03:54] thercast opened #33 "rbind.io subdomain record for Rubin Wei's site"
I have a colleague (Rubin) who has requested to join Rbind and I've set up a repository for his site at [rbind/rubin](https://github.com/rbind/rubin).  Netlify auto-deployment has been configured, and all he needs now is to have a CNAME record set up for `rubin.rbind.io` so we can finish up the process.

[2017-06-14 04:29] yihui commented on #33
Done.

[2017-06-15 06:06] thercast commented on #33
Thanks!  Everything's looking good and @weirubin  is excited to begin his `blogdown` journey 👍

[2017-06-15 06:06] #33 closed

[2017-06-15 06:07] thercast commented on #29
Closing as it seems everything is working well, but feel free to re-open if you need additional help or have questions.

[2017-06-15 06:07] #29 closed

[2017-06-15 13:45] weirubin commented on #33
Thanks @thercast and @yihui. I am excited to start the new journey with `blogdown`.

[2017-06-18 20:53] EllaKaye opened #35 "New site request"
Hello,

I'd love to be part of the rbind community. I've just got a website up-and-running on netfily (thanks to the awesome blogdown tools @yihui). It's at ellakaye.netlify.com. Could I please have ellakaye.rbind.io?

Thank you,
Ella

[2017-06-19 02:12] yihui commented on #35
Done.

Although it is not required, it will be nice if you could transfer your repo to rbind and share it with the broader community: https://support.rbind.io/about/

[2017-06-19 07:09] EllaKaye commented on #35
That Yihui. Very happy to transfer my repo over - I learnt a lot from looking at other rbind repos, so I only hope that others find mine useful too.

Only thing is, currently going to https://ellakaye.rbind.io just shows 'Not Found", even after updating my config.toml file with that address and waiting several minutes. https://ellakaye.netfily.com is still up (though curiously now without the prof

[2017-06-19 07:13] yihui commented on #35
Yes, you have to configure the domain on your side on Netlify: https://support.rbind.io/about/ (scroll to bullet before the screenshot).

[2017-06-19 07:36] EllaKaye commented on #35
All done! website up-and-running and repo on rbind. Thanks again, and sorry about getting ahead of myself with my previous comment.

[2017-06-19 07:37] #35 closed

[2017-06-19 18:12] yihui commented on #35
No worries. Thanks for joining rbind!

[2017-06-21 13:45] batpigandme opened #36 "Mara's site"
Hi,
Would love to do my site on rbind.io.

Currently it's at maraaverick.netlify.com, but if I could do the same for rbind (maraaverick subdomain) that would be great.

Thanks for your consideration, and please let me know if there's more info you need!

[2017-06-21 13:54] yihui commented on #36
Done.

[2017-06-21 14:18] yihui commented on #36
I thought I didn't need to mention this, but apparently I do: https://support.rbind.io/about/ You need to read the third bullet on this page.

BTW, feel free to transfer your source repo to rbind, since you are a member of rbind now.

[2017-06-21 16:21] batpigandme commented on #36
Hopefully I configured things correctly this time around. Unfortunately, Netlify isn't letting me switch the source repo to [rbind/waxwings](https://github.com/rbind/waxwings) because I lack admin rights (see below).
![netlify1](http://i.imgur.com/EVHN6ZRl.png)
![netlify2](http://i.imgur.com/xmriM59l.png)
![netlify3](http://i.imgur.com/c04rcrsl.png)

I'm guessing this is why I can't change the des

[2017-06-21 17:57] yihui commented on #36
That is my fault. I just promoted you to admin.

In fact, it probably still works even if you do not switch the repo on Netlify, because Github will automatically redirect the old repo to the new one.

[2017-06-22 14:06] batpigandme commented on #36
Awesome. Everything's working perfectly now! Thanks for your help, @yihui!

[2017-06-22 14:06] #36 closed

[2017-06-22 17:05] yihui commented on #36
Great! Whenever you are ready, please feel free to announce your site at https://support.rbind.io like other people did (no obligation).

[2017-06-22 20:14] blairj09 opened #37 "James website"
Hi,
I've been reading up on blogdown and rbind and would like to host my site on rbind. I'm currently set up on Netlify and have a personal repo I would like to transition to rbind. My Netlify subdomain is batteriesnotincluded.netlify.com

If I could have the subdomain batteriesnotincluded.rbind.io that would be great.

I've been having some issues with my site rendering correctly on Netlify, but

[2017-06-22 20:25] yihui commented on #37
Invite sent. Subdomain has been set up. Please read https://support.rbind.io/about/ to finish the last step.

[2017-06-22 20:39] yihui opened #38 "Generate a list of all websites on rbind automatically"
Get JSON from https://api.github.com/users/rbind/repos, obtain `homepage` URLs, screenshot them (e.g. `webshot::webshot()`), and generate a showcase page automatically.

To to be able to do this, we need everybody to set their homepage URLs in their repos. Some have set the URL, and some have not.

Click the Edit button in your repo and fill out the URL:

![image](https://user-images.githubusercon

[2017-06-22 20:45] blairj09 commented on #37
Thanks! Everything is set up. I wasn't able to point Netlify to the transfered repo, but as mentioned in #36 that shouldn't cause any issues. The only thing left is for me to sort out why the site isn't rendering properly. Thanks again for your help! Once I have everything set up I'll submit a pull request to introduce my site.

[2017-06-22 20:45] #37 closed

[2017-06-22 20:53] yihui commented on #37
I have made you the admin.

Your problem should be fairly easy to fix. I'll leave it as an exercise to someone else: https://gitter.im/rbind/support

[2017-06-24 22:26] mwillumz opened #39 "site request"
I'd like to try an rbind site.

I've got a starter blogdown site at willumz.netlify.com. I guess I'd take the same willumz subdomain too.

Thanks for the invite! Looking forward to getting up and running.

[2017-06-25 02:36] yihui commented on #39
Done.

[2017-06-25 12:50] #39 closed

[2017-06-28 21:18] yihui commented on #25
I have provided this service to those who do not know how to use command-line or run Python scripts: https://github.com/yihui/travis-exitwp

[2017-06-30 13:42] drkamarul commented on #25
Excellent. Thanks

On Thu, Jun 29, 2017 at 5:18 AM, Yihui Xie <notifications@github.com> wrote:

[2017-07-01 11:15] Ebedthan opened #40 "Changes Netlify domain name"
We have a blog create with **blogdown** and **Netlify**. We have now to change the domain name and we want a *.rbind.io domain names. The links to our Netlify site is http://bricklayer-panda-24374.netlify.com/.

We wan the domain name to be dsan-blog.rbind.io
Thanks you.

[2017-07-02 14:32] yihui commented on #40
Done.

[2017-07-03 05:34] Ebedthan commented on #40
Thanks you @yihui for adding us and give us the subdomain name.
After changing the config.toml file i don't get the result expected. Have i miss a step ?

[2017-07-03 05:48] yihui commented on #40
[Again](https://github.com/Ebedthan/DSaN-UseR-2017-blog/issues/4), please read https://support.rbind.io/about

[2017-07-03 06:01] Ebedthan commented on #40
I am done with this step but i got an error: "Must be unique", When i change the domain name

[2017-07-04 17:46] atyre2 opened #41 "requesting subdomain for Drew Tyre's website"
This is both cool and terrifying at the same time!

I would like to use the subdomain drewtyre.rbind.io for the cheap_shots repository.
The site is deployed at http://doctor-badger-84111.netlify.com

Thanks for the invitation, and to everyone for providing great notes on the path!

[2017-07-04 20:45] yihui commented on #41
Done. You are welcome!

[2017-07-04 21:59] atyre2 commented on #40
I am getting the same response from netlify app after clicking the button to change the domain name:
<img width="933" alt="screen shot 2017-07-04 at 4 55 14 pm" src="https://user-images.githubusercontent.com/2787883/27843490-d6e9bd90-60d9-11e7-867b-e4fba404b3e3.png">

Doesn't matter which button I press for DNS. I must have missed a step somewhere else?

[2017-07-05 02:45] yihui commented on #40
I cannot reproduce the error. Did you use the domain on another site on Netlify? If not, you may add me (`xie@yihui.name`) as an administrator of your site on Netlify, and I can take a look.

[2017-07-05 11:46] atyre2 commented on #40
No, this is my first attempt at using netlify.

If I should use "Use another DNS" do I need to know which DNS to use?

[2017-07-05 15:35] yihui commented on #40
@atyre2 Hmm. I don't know what's wrong there. Could you transfer your source repo to rbind and let me retry? You don't need to know anything about DNS. I have set up the correct DNS record for you.  If you do want to know more about these things, you may read https://bookdown.org/yihui/blogdown/domain-name.html

[2017-07-05 15:37] yihui commented on #40
@atyre2 Ah. Forget it. Your repo is already here. Sorry.

[2017-07-05 17:04] atyre2 commented on #40
I had read the sections on domain names, but didn't help me avoid whatever mistake I made that messed it up! Thanks very much for all the followup.

[2017-07-05 17:57] yihui commented on #40
That should not make any difference.

[2017-07-06 11:16] danimad opened #42 "Daniel's site request"
Hi,
I would like to try out rbind.

Currently I have a very bare bones site at danielb.netlify.com. I'd like to request the **danielberecz** subdomain.

Thanks!

[2017-07-06 13:00] asimumba opened #43 "Site not updating"
Hi, I am having a challenge with my site, when i push new content to my repo, the site doesn't update to accommodate the new stuff. What maybe the causer of such behaviour?  Plus how do I access the site on netlify? Netlify setup was done by @thercast .

[2017-07-06 16:32] yihui commented on #42
danielberecz.rbind.io has been assigned to you.

[2017-07-06 16:33] yihui commented on #43
@thercast should be able to add you as the admin on Netlify so you can see the (error) logs if you tell him your email.

[2017-07-06 20:06] danimad commented on #42
Thanks!
I tried to set it up as a custom domain on Netlify there was an error message: "must be unique", and it wouldn't let me:
<img width="450" alt="netlify_error_message" src="https://user-images.githubusercontent.com/437923/27930473-fe842dea-6296-11e7-947e-fbea9b0f09cc.png">
Should I just wait, or do I something wrong? I read the documentation, and searched for an answer, but didn't find any.

[2017-07-06 20:08] yihui commented on #42
Ah. You are not the first person who has run into this issue. I don't understand what this error message means. Could you delete the site on Netlify and create it again? Note you still have to use the Netlify site name `danielb`.

[2017-07-06 20:21] danimad commented on #42
I tried that. I tried it now again just to be sure, but I've got the same error message.
Maybe it's a temporary error on their side, because while I experimented I got this error message:
<img width="400" alt="netlify_error_message_v2" src="https://user-images.githubusercontent.com/437923/27931000-f683692e-6298-11e7-91d2-1492cbc4ec6d.png">
The two message look like they are concatenated, I don't k

[2017-07-06 20:26] yihui commented on #42
Could you do me a favor to contact their support? https://www.netlify.com/support/ Because I also want to know what is going on there. There were two other users in #40 who ran into the same issue. When I created the site for one of them, it worked fine on my side, but I don't want to do this for everyone every time.

[2017-07-06 20:38] danimad commented on #42
I've sent an email detailing the problem. I will copy in the response when they answer.

[2017-07-06 22:49] asimumba commented on #43
@yihui @thercast my github email: simumbaa21@gmail.com.

[2017-07-07 01:52] asimumba commented on #43
The site is up and running smoothly. You can now attend to my second request.

[2017-07-07 03:19] thercast commented on #43
@asimumba you should receive an email from Netlify shortly now that you've been added as a site administrator

[2017-07-07 04:31] tcgriffith opened #44 "netlify failed to deploy site after the repo is transferred to rbind"
My repo for the blog is named blogsite. now transferred under rbind.

When It's under my personal account, netlify has no problem deploying it. But after I transferred this repo into rbind, I got the following error message that said I don't have admin rights:

Did I miss anything here?

[2017-07-07 09:18] asimumba commented on #43
@thercast everything done. Thank you for your hand.

[2017-07-07 09:18] #43 closed

[2017-07-07 10:08] verajosemanuel opened #45 "subdomain for "Swimming in the data lake""
Please, could you provide a rbind subdomain for my R blog at http://jvera.netlify.com ?
Still testing and tweaking but a place to migrate all my blog posts from medium.

Completely amazed with Blogdown and Hugo!
Thanks for such a piece of art.

[2017-07-07 15:00] asimumba opened #46 "Admin access to the repo"
Can I be assisted with admin privileges to my repo on rbind?

[2017-07-07 16:30] yihui commented on #44
After you transfer the repo to rbind, I guess you do not need to create a new site, since Github will automatically redirect your old repo to the new one.

Anyway, we should definitely make you the admin of your own repo. @thercast Could you do it when you have got time? Thanks!

[2017-07-07 16:32] yihui commented on #46
Yes. @thercast should be able to help you later.

[2017-07-07 16:34] yihui commented on #45
Yes, please just tell us the subdomain name you prefer.

BTW, I'm glad that you picked the hugo-xmin theme 😁

[2017-07-07 19:23] danimad commented on #42
The support people from Netlify wrote back, and said, that most likely their new [Branch Deploys](https://www.netlify.com/docs/continuous-deployment/#branch-deploys) feature is the culprit.
I quote: "Yihui has set up a site for 'rbind.io' on our service - which makes putting subdomain.rbind.io sites here a problem since if you called yours "staging" it would be mistaken for the staging branch buil

[2017-07-07 19:45] verajosemanuel commented on #45
I think  jvera.rbind.io  is ok. So I don't get attached to blog title in case I want to change it.

hugo-xmin is a **very** good theme. Focused on content, readable, clean, and easy to manage just in some hours reading documentation. Just tweaked adding a summary and a "read me" link in list and it's perfect for my needs.
Many thanks for your work.

[2017-07-07 19:50] yihui commented on #42
I see. That makes sense. I'm fine if the branch deploy feature is disabled for rbind.io.

[2017-07-09 06:17] fortunewalla opened #47 "Request invite, admin rights, repo transfer approval and custom domain."
1. Request invite & admin rights & repo transfer approval.
2. Site already set up at [https://fw.netlify.com/](https://fw.netlify.com/)
3. Repo at [https://www.github.com/fortunewalla/f/](https://www.github.com/fortunewalla/f/)
4. Request custom domain `f.rbind.io`
5. Using theme `hugo-xmin`. minimal and very functional. Wonderful work!
6. Site will deal with data analysis.
7. Suggestions: central

[2017-07-09 12:32] Ebedthan commented on #40
Hello @yihui i have tried to find out waht problem i have with the DNS name of my blog but cannot find it.
So i want to change the DNS name from dsan-blog.rbind.io to anicetebou.rbind.io and try again to see if it works.

[2017-07-09 17:35] yihui commented on #47
The invite has been sent. Subdomain has been set. For 7, perhaps you mean #38?

[2017-07-09 17:37] yihui commented on #40
Netlify currently has an issue (see #42). If it cannot be solved in a couple of days, we will have to create the site for you on Netlify. Thanks for your patience!

[2017-07-09 20:12] yihui commented on #45
Done. But currently Netlify seems to have an issue (see #42), so you probably won't be able to use this subdomain unless I create the site for you on Netlify...

[2017-07-09 20:34] verajosemanuel commented on #45
ok, very much obliged.

by the way, is there any way of deleting my first test post? deleted from GitHub but Netlify keeps on showing it

[2017-07-09 22:29] yihui commented on #45
You should be able to delete any content in your repo, and Netlify should delete it accordingly.

[2017-07-10 05:02] thercast commented on #46
@asimumba you now have admin access to your repo :+1:

[2017-07-10 05:03] thercast commented on #44
@tcgriffith you now have admin access to your repo

[2017-07-10 09:15] tcgriffith commented on #44
Thanks, it works smoothly now.

[2017-07-10 09:16] #44 closed

[2017-07-10 11:10] asimumba commented on #46
@thercast great. Thanks

[2017-07-10 11:10] #46 closed

[2017-07-10 19:09] verajosemanuel commented on #45
Hit the "must ne unique" issue.

What do you need from me to be able to use bind.io domain ? any setting on my part? some instructions to make arrangements on netlify?

[2017-07-12 16:48] danimad commented on #42
Netlify fixed the issue for me. Yihui I added you to the email conversation, but I repeat what the people from Netlify said, for the others benefit. The issue is with the branch deploy feature as I described earlier. They can only set the rbind urls manually at the moment. They're working on a proper fix for the issue, but could't tell when it would be ready.
From my side, we can close this issue.

[2017-07-13 05:48] yihui commented on #42
Great. Thanks for posting back!

[2017-07-13 05:50] yihui commented on #47
For 2, please contact Netlify support. They will help you (see #42).

For 3, I just made you the admin.

[2017-07-13 05:52] yihui commented on #45
Please contact Netlify support. They will help you (see #42).

[2017-07-13 05:53] yihui commented on #40
You can contact Netlify support (again please see #42) and they will help you set up your domain.

[2017-07-13 17:50] verajosemanuel commented on #45
They have finished setting things up. My domain is working. Thanks a lot Yihui

[2017-07-13 18:05] yihui commented on #45
Excellent! Glad to hear that.

[2017-07-14 05:10] fortunewalla commented on #47
Contacted Netlify and they assigned the sub-domain. All working now. thanks.

[2017-07-14 05:10] #47 closed

[2017-07-14 11:22] vodlomanga opened #48 "request invite to join rbind + transfer + admin rights to repo + custom domain."
request invite to join rbind + transfer + admin rights to repo + custom domain.
desired sub-domain: `s.rbind.io`
purpose: analysis + visualization of society and cultural interests using R and other tools.

repo: [https://github.com/vodlomanga/s](https://github.com/vodlomanga/s)
netlify: [https://culture.netlify.com/](https://culture.netlify.com/)

[2017-07-15 17:43] verajosemanuel commented on #45
a little off topic: I pretend to keep a "spanish version" of all my english posts. any recommended/suggested way of managing the files with your theme?

[2017-07-16 01:23] yutannihilation opened #49 "Yutani's site request"
Hi, thanks for adding me to rbind! (Sorry for saying this too late). I'd love to join this great rbind movement.

I want to use **yutani.rbind.io** as my URL if it is still available.

By the way, I've just transferred a repo for my blog:

https://github.com/rbind/yutani

But I couldn't set up Netlify on it by the error bellow:

![image](https://user-images.githubusercontent.com/1978793/28243722-2

[2017-07-16 02:25] yihui commented on #48
Done. Note you will have to contact Netlify support to set up the custom domain for you if you run into the same domain issue as #42.

[2017-07-16 02:27] yihui commented on #49
I just made you the admin of your repo. Please let me know your Netlify subdomain and I can configure the rbind subdomain for you.

[2017-07-16 02:28] yutannihilation commented on #49
Thanks!

[2017-07-16 02:43] yutannihilation commented on #49
My Netlify subdomain is **yutani** (https://yutani.netlify.com/).

But, I got this error when I tried to setup custom domain. Is this the same as #42?

![image](https://user-images.githubusercontent.com/1978793/28244077-84daa4b0-6a1b-11e7-92da-7f711f53fbaa.png)

[2017-07-16 02:50] yutannihilation commented on #49
I am almost ready to email to Netlify support ✉️.

[2017-07-16 02:56] yihui commented on #49
Yes, same as #42. Email them.

[2017-07-16 02:56] yutannihilation commented on #49
Sure.

[2017-07-16 15:57] carleshf opened #50 "carles' web site"
Hi,

I would like to try out `rbind`.

I would like to ask for `carleshf.netlify.com`. My current repo is `http://banker-hamish-45161.netlify.com/`.

Thanks!

[2017-07-16 17:21] carleshf commented on #50
I manage to change the name by myself.

Thx!

[2017-07-16 17:21] #50 closed

[2017-07-16 21:14] yihui commented on #50
Yes, you are free to change the Netlify subdomain. Let us know if you need an rbind subdomain.

[2017-07-17 21:38] yutannihilation commented on #49
Done. They manually added yutani.rbind.io and I've confirmed that I can access to https://yutani.rbind.io/ successfully now.

Thanks for your help! 👍

[2017-07-17 21:38] #49 closed

[2017-07-18 20:19] richardohrvall opened #51 "Requesting subdomain"
Hi!

I would like the subdomain richardohrvall.rbind.io for the site https://richardohrvall.netlify.com/ that I just set up, if possible. (No, I haven't changed the template yet, having some troubles exporting my old Wordpress blog, but I will give it one more try).

Thank you so much for all the help and for providing this! Looking forward to leaving WP behind.

All the best,
Richard

[2017-07-19 03:57] yihui commented on #51
Done. You may need to contact Netlify support (#42).

[2017-07-19 07:36] #42 closed

[2017-07-20 09:42] richardohrvall commented on #51
The support at Netlify was very helpful, and it is all working now. Thank you for your help and all your work!

[2017-07-20 09:42] #51 closed

[2017-07-21 03:26] vodlomanga commented on #48
done. thanks.

[2017-07-21 03:26] #48 closed

[2017-07-23 08:08] fortunewalla opened #52 "request invite, repo transfer, admin rights and sub-domain."
Request invite, repo transfer, admin rights and sub-domain.

Current website: [adventure.netlify.com](https://adventure.netlify.com)
Requested sub-domain: `a.rbind.io`
Purpose: Collaborating to use non-Microsoft tools to implement BI solutions on MS Adventure Works Cycles database.

thanks.

[2017-07-24 02:14] yihui commented on #52
Mostly done. Please see #42 if you run into problems and contact Netlify support.

[2017-07-26 06:40] fortunewalla commented on #52
done. thanks.

[2017-07-26 06:40] #52 closed

[2017-07-27 17:15] welch16 opened #53 "welch16 rbind site"
Hi,

I would like to get started with blogdown. Can I have `welch16.rbind.io` for `coach-phyllis-83361.netlify.com`

Thanks in advance!

[2017-07-27 18:46] yihui commented on #53
I have configured the CNAME for you.

[2017-07-28 00:31] tcgriffith opened #54 "subdomain request"
Hi, yihui,

I've recently played with blogdown and hugo a lot and I feel comfortable to apply for a subdomain in rbind now.

i request `tc.rbind.io`, my current netlify site is `tctc.netlify.com`

By the way, love the xmin theme! But i couldn't get disqus working right now(it's working in default theme). I'll experiment a bit more to find the problem.

[2017-07-28 02:21] yihui commented on #54
Done!

You need to configure disqusShortname in config.toml: https://github.com/yihui/hugo-xmin/pull/4/files

[2017-07-28 11:22] jtll24 opened #55 "New rbind sub domain"
Can I request joetulachanh.rbind.io for my joetulachanh.netlify.com account?

Btw. Keep up the great work. Blog down is awesome.

[2017-07-28 16:03] yihui commented on #55
No problem. Done!

[2017-07-28 21:50] tcgriffith commented on #54
#40
I wrote to netlify support and a guy helped me to set it up.
it is up and running now.

[2017-07-28 21:54] yihui commented on #54
Your disqus config is incorrect here: https://github.com/rbind/blogsite/blob/master/layouts/partials/foot_custom.html

Please refer to https://github.com/yihui/hugo-xmin/blob/feature/disqus/exampleSite/layouts/partials/foot_custom.html

[2017-07-28 22:17] tcgriffith commented on #54
@yihui many thanks for the help even when i didn't file an issue for that  （´͈ ᵕ `͈

[2017-07-30 11:14] tcgriffith commented on #54
hi, @yihui  , I've tried to setup a new site from scratch, but still, disqus is not working.

What I've tried:

***

- start site
    - started a new site using `blogdown::new_site()` in Rstudio
    - installed `hugo-xmin` by `git submodule add https://github.com/yihui/hugo-xmin.git themes/hugo-xmin`
- setup disqus
    - initial netlify deploy succeeded, then I setup a new disqus site by using the

[2017-07-31 06:44] yihui commented on #54
The Hugo config looks correct to me. There might be something wrong with the account `tc_testit`
 on Disqus: https://docs.disqus.com/help/83/

[2017-07-31 15:21] statimatics opened #56 "New rbind.io subdomain request for my new website"
Hello,
I've been following blogdown for quite sometime now but I couldn't actually get it to work earlier because of the limited resources. I recently checked the documentation again and was amazed at the amount of work you've put into the documentation. Your work paid off and I am now able to set up my website. I went with the hugo lithium theme but with the fonts of your (yihui.name) website as

[2017-07-31 18:01] yihui commented on #56
Done. If you have problems with adding statimatics.rbind.io to your site on Netlify, please see #42.

For your domain, please see https://bookdown.org/yihui/blogdown/dns-records.html You can bind multiple domains to your site on Netlify, but I guess it is probably not necessary. Since you have your own apex domain, I recommend you just use that instead of an rbind.io subdomain, unless you think th

[2017-07-31 19:10] statimatics commented on #56
Thanks a lot. Just like you anticipated, I encountered the same error in #42. I've sent the netlify support a mail to help out.
As regards the domain, I sure find the .rbind.io subdomain very cool and I see rbind exploding with lots of users very soon. It will be such a shame to miss out on my own custom rbind.io subdomain despite being an early adopter and ardent fan of blogdown. I would rather h

[2017-07-31 19:10] statimatics commented on #56
Thanks a lot. Just like you anticipated, I encountered the same error in #42. I've sent the netlify support a mail to help out.
As regards the domain, I sure find the .rbind.io subdomain very cool and I see rbind exploding with lots of users very soon. It will be such a shame to miss out on my own custom rbind.io subdomain despite being an early adopter and ardent fan of blogdown. I would rather h

[2017-07-31 19:16] yihui commented on #56
You are welcome. I _always_ need help and contributions! 😉 Please feel free to answer any blogdown-related questions here and on StackOverflow before I dive in. That will help me a lot save my time to work on other important things.

[2017-08-01 01:15] statimatics commented on #56
So the support team at Netlify helped and my rbind.io domain is live. I also pointed my apex domain to my site by entering an ANAME record with my DNS provider. Finally, the www.* subdomain of my domain is also pointed to my site using a CNAME record.
So everything checks out now I'll close the issue.
Best regards.

[2017-08-01 01:15] #56 closed

[2017-08-01 05:54] tcgriffith commented on #54
@yihui  I am happy that disqus is up and running now. But I'm not sure the reason.
Maybe it's because I added `rbind.io` in the trusted domain in disqus configuration, and it may take some time for disqus to function properly.

Anyway if you don't mind this issue can be closed!

[2017-08-01 08:24] #54 closed

[2017-08-01 18:21] yihui commented on #54
Great. Thanks for letting me know!

[2017-08-02 20:19] #55 closed

[2017-08-04 01:28] david-jankoski opened #57 "request subdomain for David Jankoski's website"
hello rbind team,

thank you for an awesome initiative and this organisation! the blogdown package and the accompanying book are great - I am not knowledgable in web technologies at all but was able to set up a blog and host it on netlify easy.
I would like to use (if available) the subdomain davidjankoski.rbind.io for my [website repository](https://github.com/david-jankoski/website).
The website

[2017-08-04 06:16] yihui commented on #57
@thercast @njtierney Could either of you send the rbind invite?

@david-jankoski I have configured the CNAME record for davidjankoski.rbind.io. If you run into any problems on Netlify when configuring your custom domain, please see #42.

[2017-08-05 00:16] njtierney commented on #57
Invite sent!

Sorry for the delay. I made them a vector member, is that right?

[2017-08-05 02:01] yihui commented on #57
Yes.

[2017-08-11 22:57] coreysparks opened #58 "Requesting subdomain for Corey Sparks"
I have a site on Netlify
https://promoter-fox-24318.netlify.com/

Could I recieve subdomain on rbind.io?
Thank you!

[2017-08-12 02:17] yihui commented on #58
Yes, please specify the subdomain you want.

[2017-08-12 06:19] coreysparks commented on #58
sorry,
http://coreysparks.netlify.com/
Thank you!

[2017-08-12 06:21] yihui commented on #58
Done.

[2017-08-12 11:30] jtll24 opened #59 "Another Subdomain Request"
Can I have joets-blog.rbind.io for joets-blog.netlify.com site?

[2017-08-12 19:58] yihui commented on #59
Sure. Done.

[2017-08-14 15:25] larnsce opened #60 "Missing admin rights to deploy website on Netlifly"
A while ago, I have moved my R-tistic-website repo to [rbind/R-tistic-Blog](https://github.com/rbind/R-tistic-Blog).

Today, I have committed some changes to the repo and wanted to try deploy the website with [Netlifly](https://app.netlify.com/). I have followed the instructions, but have failed to deploy the website with the following message:

Below also the screenshot:

![netlifly_deployment](h

[2017-08-14 15:30] yihui commented on #60
@thercast @njtierney Could either of you help @larnsce? Thanks!

[2017-08-15 01:57] thercast commented on #60
@larnsce you now have admin rights to your repository, let us know if you are still have problems with netlify.

[2017-08-15 13:58] larnsce commented on #60
@thercast: Thanks, that worked, but unfortunately I am getting a different error now, which also shows up when I try to build the site locally on my machine.

This, however, is a more general problem not related to Netlifly, but hasn't shown up previously.

After typing `blogdown::build_site()` to into the RStudio Console, I receive the following error message:

[code]

Unfortunately, I am unable

[2017-08-15 14:03] yihui commented on #60
@larnsce Please reinstall blogdown.

[2017-08-15 15:54] larnsce commented on #60
@yihui @thercast: Thanks, works again on my machine, but Netlifly gives the same error. Here the deploy:

[code]

[2017-08-16 16:23] #59 closed

[2017-08-17 15:30] yijutseng opened #61 "Subdomain request"
May I receive subdomain yjtseng?

yjtseng.rbind.io

Thank you!

[2017-08-17 17:56] yihui commented on #61
Please provide your Netlify subdomain: https://support.rbind.io/about/

[2017-08-17 18:38] yijutseng commented on #61
Thanks for your reply. Here is my netlify info:
https://purchasing-officer-daisy-14376.netlify.com/

[2017-08-17 21:29] yihui commented on #61
Done.

[2017-08-18 00:17] david-jankoski commented on #57
@yihui thank you yihui, everything worked out fine - i had the same problems as you pointed out in #42, but contacted the netlify support and they fixed everything swiftly.

@njtierney thanks nick! btw hi - macedonian david from useR here ;-)

one last question though - i transferred my website repo to rbind, however it seems like now the netlify site does not pick up the new changes and commits i

[2017-08-18 15:32] yihui commented on #57
@njtierney Could you grant @david-jankoski admin rights from his repo settings?

[2017-08-18 17:23] yihui commented on #60
@larnsce Make sure your local version of Hugo is the same as the version you use on Netlify.

[2017-08-22 00:07] njtierney commented on #57
Ah, Macedonian David! Nice to see you again, virtually :)

I'll grant him admin rights from his repo.

[2017-08-22 00:09] njtierney commented on #57
OK done, I think?

![image](https://user-images.githubusercontent.com/6488485/29543058-da813fd2-8721-11e7-96e1-c999fee96d3b.png)

Apologies for the late reply on this, btw.

[2017-08-25 18:58] ummel opened #62 "sc2 subdomain request"
Hello -- Thanks for starting this initiative. My colleague and I are starting a new project with private repos but would like ability to share ongoing results via a simple blogdown site (not yet built). The [hugo-academic](https://github.com/gcushen/hugo-academic) theme seems suitable. Ideal subdomain is: sc2.rbind.io

What else do you require from me to get something up and running with an exampl

[2017-08-25 20:42] vodlomanga opened #63 "Request admin rights over repo rbind/s as not able to deploy on netlify"
I have repo https://github.com/rbind/s connected to `netlify.com` through https://s.rbind.io/

I can update it from computer. But new changes not reflected on `netlify.com`.
Last successful deploy:
[code]
Tried manual trigger deploy but give error
[code]
Tried to change repo from `vodlomanga/s` folder to `rbind/s` folder but it says
[code]
Any ideas?

[2017-08-25 21:05] jbintz opened #64 "subdomain request"
I'd like to request the subdomain:  jasonbintz.rbind.io

My netlify subdomain is https://jasonbintz.netlify.com

[2017-08-26 17:31] davidjohnbaker1 opened #65 "New domain request"
Hello--

I am requesting for my current domain at https://davidjohnbaker.netlify.com/ to be hosted at davidjohnbaker.rbind.io

Please let me know if I need to do anything else

Dave

[2017-08-27 00:38] yihui commented on #62
@thercast @njtierney Could you get @ummel started?

[2017-08-27 00:39] yihui commented on #63
@thercast @njtierney Could you take care of this?

[2017-08-27 00:40] yihui commented on #64
Done.

[2017-08-27 00:41] yihui commented on #65
Done.

[2017-08-27 01:14] jbintz commented on #64
<img width="878" alt="screenshot 2017-08-26 21 11 36" src="https://user-images.githubusercontent.com/20375541/29746303-6af013e8-8aa3-11e7-97b0-4dd7d1bd8c3b.png">

[2017-08-27 02:01] yihui commented on #64
Please see #42.

[2017-08-27 02:11] thercast commented on #62
@ummel I set up a sample `blogdown` site powered by the hugo-academic theme in a new repository [rbind/sc2.rbind.io](https://github.com/rbind/sc2.rbind.io).  You should have received an invitation to the repository by now, but let us know if you have any issues working with the repo.  We highly recommend reading through the [blogdown online text](https://bookdown.org/yihui/blogdown) for comprehens

[2017-08-27 02:12] thercast commented on #63
@vodlomanga you should now have admin access to your repository.  Let us know if you are still experiencing the same issues.

[2017-08-27 02:17] yihui commented on #62
@ummel And note that I cannot set up your subdomain until you set up your Netlify subdomain.

[2017-08-27 02:19] jbintz commented on #64
For others: After referencing #42, I clicked on contact support and said that my understanding is that this is a known issue and that the issue is with the branch deploy feature and, as a result, you have to set the rbind urls manually at the moment. Within 5 minutes they had addressed the problem.

[2017-08-27 02:22] jbintz commented on #64
I'm sorry for the additional question, but now I'm wondering about the https steps...I said "I've done this" to the question about pointing the DNS blah blah--I'm not sure if that was correct, but now I'm wondering if I should go ahead and "Let's encrypt certificate"?

<img width="890" alt="screenshot 2017-08-26 22 22 06" src="https://user-images.githubusercontent.com/20375541/29746586-12d8b962-8a

[2017-08-27 02:24] yihui commented on #64
Yep, please go ahead and hit the button.

[2017-08-27 02:31] ummel commented on #62
Many thanks, everyone. @yihui I have successfully deployed via Netlify: http://butcher-programs-60464.netlify.com/

[2017-08-27 02:55] yihui commented on #62
Okay, the sc2 subdomain has been assigned to you. If you run into any problems, please see #42.

[2017-08-27 03:02] jbintz commented on #64
all seems well...many thanks

[2017-08-27 03:02] #64 closed

[2017-08-27 13:50] davidjohnbaker1 commented on #65
Thanks! That was quick!

Just tried it after updating config.toml baseline to

baseurl = "https://davidjohnbaker.rbind.io/"

then pushed to my github but I get a "Not Found" message on my browser.

Is there something else I am missing?

[2017-08-28 12:15] b-rodrigues opened #66 "Request invite and sub-domain"
Hi

I'd like to request an invite and the following sub-domain:

brodriguesco.rbind.io

my current website is hosted at b-rodrigues.github.com and I own the domain www.brodrigues.co

Once I get the invite, transferring the repo should be enough, right?

Thanks!

[2017-08-28 14:01] yihui commented on #66
Cc @njtierney / @thercast I can set up the subdomain for you after you transfer the repo and deploy it on Netlify (just let me know the Netlify subdomain).

[2017-08-28 14:03] b-rodrigues commented on #66
Hi

hum ok, so I need to use netlify? I'll have to read into it then :)

[2017-08-28 14:10] yihui commented on #66
You don't have to. If you don't, I'll assume that you know enough about DNS and you will have to tell me how I should create the CNAME record for you. (More info: https://bookdown.org/yihui/blogdown/domain-name.html)

[2017-08-28 14:13] b-rodrigues commented on #66
I guess I'll try netlify. I've wanted to switch for some time now, might as well do it.

[2017-08-28 14:14] yihui commented on #66
Okay, sounds good. We need to wait for Nick or Eric to invite you and then I'll do the subdomain.

[2017-08-28 14:16] yihui commented on #65
Did you actually add the subdomain on Netlify and enable HTTPS? If you run into problems, please feel free to contact Netlify support. They are very responsive and helpful.

[2017-08-28 15:29] ummel commented on #62
Everything appears to be deploying correctly at [sc2.rbind.io](sc2.rbind.io). Did require Netlify support to set custom domain manually. Only outstanding issue: I cloned repo to local machine and ran serve_site(). Receive error 'Not found: ./"https://sc2.rbind.io/"', but I thought serve_site() is supposed to override baseurl with "/" (only) for [local paths](https://bookdown.org/yihui/blogdown/loc

[2017-08-28 15:40] yihui commented on #62
Here is the fix: https://github.com/rbind/sc2.rbind.io/pull/1

[2017-08-28 15:43] #62 closed

[2017-08-28 17:32] davidjohnbaker1 commented on #65
I've contacted the netlify people and will take it from there. Thanks for the help!

[2017-08-28 23:29] njtierney commented on #66
OK done!

![image](https://user-images.githubusercontent.com/6488485/29796826-b1620f44-8c96-11e7-87db-cb31101f9cc6.png)

[2017-08-29 05:48] vodlomanga commented on #63
done. thanks.

[2017-08-29 05:48] #63 closed

[2017-08-29 19:25] deepernexus opened #67 "request invite to join rbind + transfer + admin rights to repo + sub-domain"
desired sub-domain: d.rbind.io
purpose: deep learning for social media analysis

repo: https://github.com/deepernexus/d
netlify: https://deep.netlify.com/

thanks!

[2017-08-29 19:27] jsta opened #68 "Request invite"
Hi

I'd like to request an invite and the following sub-domain:

`jsta.rbind.io`

my current website is hosted at https://jsta.netlify.com

I think I am ready to transfer after the org invite.

Thanks!

[2017-08-30 03:15] yihui commented on #67
I have configured the rbind subdomain for you.

@thercast @njtierney Could you take care of the rest of the request?

[2017-08-30 03:17] yihui commented on #68
I have configured the rbind subdomain for you.

@thercast @njtierney Could you take care of the rest of the request?

[2017-08-30 03:56] njtierney commented on #67
Hi @deepernexus I've added you to the rbind org, my understanding is that you need to transfer your repo over to rbind as I cannot do that for you, correct @yihui ?

[2017-08-30 03:56] njtierney commented on #68
Hi @jsta I've added you to the rbind org, my understanding is that you need to transfer your repo over to rbind as I cannot do that for you, correct @yihui ?

[2017-08-30 04:47] yihui commented on #68
Correct.

[2017-08-30 04:47] yihui commented on #67
Correct.

[2017-08-30 12:30] jsta commented on #68
@thercast @njtierney I transferred to https://github.com/rbind/jsta.rbind.io

[2017-08-30 13:02] njtierney commented on #68
OK awesome!

Have you got ownership of the repo @jsta ? Otherwise I think from here I transfer it to you.

[2017-08-30 13:04] jsta commented on #68
I think I need repo admin access otherwise netlify wont let me adjust the domain redirect to rbind.io.

[2017-08-30 13:07] njtierney commented on #68
OK great, I made you an admin - I think that should all be good now :)

Let me know how you go

[2017-08-30 13:08] njtierney commented on #67
OK and I've given @deepernexus admin access to his own repo, so I think this is all taken care of now? Sorry it's taking me a few times to get this down pat :)

[2017-08-30 14:10] yihui commented on #67
Yes. Thanks @njtierney!

[2017-08-30 15:16] jsta commented on #68
We are live! Thanks.

[2017-08-30 15:16] #68 closed

[2017-08-30 15:18] jsta commented on #42
I just went through this process. In my case, it did not have to do with subdomains. Support told me that they have locked down rbind.io subdomains to only be approved manually.

[2017-08-30 15:45] deepernexus commented on #67
Is there any page to check the admin status? Everything set up. thanks to both of you.

[2017-08-30 15:45] #67 closed

[2017-08-30 17:13] yihui commented on #67
@deepernexus If you can see the Settings tab in your repo, you must be the admin.

[2017-08-30 18:19] deepernexus commented on #67
@yihui got it. thanks.

[2017-08-31 06:46] b-rodrigues commented on #66
Hello,

so switching to Netlify has been a very easy and pleasant experience! My blog is live over at:

http://guard-walrus-32111.netlify.com/

[2017-08-31 09:35] b-rodrigues commented on #66
however I'm not sure I've done the right steps to use my own domain
I own www.brodrigues.co, registrar gandi.net and I enabled the custom domain on netlify. Then I pointed the domain to the nameservers that I was given, is that enough?

[2017-08-31 13:48] b-rodrigues commented on #66
I think something's wrong still on the netlify app it says that the deployment is made from repository:

`https://github.com/b-rodrigues/b-rodrigues.github.com`

but shouldn't it be:

`https://github.com/rbind/b-rodrigues.github.com` ?

If I try to change this, I get the following error:

[2017-08-31 13:49] yihui commented on #66
@njtierney Could you help @b-rodrigues and grant him admin rights of his repo?

[2017-08-31 13:51] b-rodrigues commented on #66
Thanks!

I have another question: the baseurl in config.toml, should it be brodriguesco.rbind.io or the ugly netlify url?

[2017-08-31 13:55] njtierney commented on #66
yup done!

[2017-08-31 13:56] yihui commented on #66
@b-rodrigues Use the URL that you want other people to visit. Although you have two, I recommend you to stick with one, and 301/302 redirect the other.

[2017-08-31 14:05] b-rodrigues commented on #66
Thanks for your help @njtierney and @yihui ! I'll read into these redirects and come back here again if I fail miserably ^^

[2017-09-01 05:29] rudeboybert opened #69 "rudeboybert rbind.io"
Can I have rudeboybert.rbind.io for rudeboybert.netlify.com? Thanks in advance!

[2017-09-01 06:30] yihui commented on #69
Of course. Done. Please see #42 if you run into problems.

[2017-09-01 15:23] rudeboybert commented on #69
Thanks for doing that so quick AND for linking to #42, I would've spent a lot of time spinning my wheels if it weren't for that. Admins at netlify responded very quickly

[2017-09-01 16:47] fortunewalla opened #70 "request admin rights for repo rbind/a"
request admin rights for repo rbind/a

@njtierney could be please help me?

[2017-09-01 17:03] vodlomanga opened #71 "Need admin rights for rbind/s repo"
Need admin rights for rbind/s repo

@njtierney could be please help me?

[2017-09-01 17:08] yihui commented on #71
Nick won't be available until a few weeks later. @thercast Could you help?

[2017-09-01 17:09] yihui commented on #70
Nick won't be available until a few weeks later. @thercast Could you help?

[2017-09-01 18:26] thercast commented on #70
@fortunewalla I've made you an admin of the repo, you should be all set :+1:

[2017-09-01 18:29] thercast commented on #71
@vodlomanga it looks like you do have admin rights to the repo as far as I can tell:

![image](https://user-images.githubusercontent.com/1043111/29982972-caf77e52-8f21-11e7-81b8-32cbed5d9bd9.png)

If you are still encountering issues let us know.

[2017-09-01 19:04] ulriksartipy opened #72 "New domain request"
Hi,

Could I please have ulriksartipy.rbind.io ?

Current domain: https://ulriksartipy.netlify.com/

Thank you very much in advance!

[2017-09-01 19:36] fortunewalla opened #73 "need guidance to delete and reupload repo"
After experimenting with different repos, created my repo. `rbind/f `. But now noticed that there are 4 contributors. [https://github.com/rbind/f/graphs/contributors](https://github.com/rbind/f/graphs/contributors) . I want to make it single contributor. I have attributed the other contributors in the final website.

I thought of two ways:
1. Delete the `rbind/f` repo, make single contributor (del

[2017-09-02 03:14] yihui commented on #73
`git push --force` to rewrite history

![](https://slides.yihui.name/gif/git-push-force.gif)

[2017-09-02 03:15] yihui commented on #72
Done.

[2017-09-02 03:18] vodlomanga commented on #71
strange but now it is showing. thanks.

[2017-09-02 03:18] #71 closed

[2017-09-02 03:18] fortunewalla commented on #70
thanks.

[2017-09-02 03:18] #70 closed

[2017-09-02 08:30] ulriksartipy commented on #72
Thank you so much!

[2017-09-02 08:39] #72 closed

[2017-09-02 16:52] fortunewalla commented on #73
i like your sense of humor. 😺 thanks.

![tenor.com](https://media.tenor.com/images/b89cdcd2b20fc8e36e6f0b7df140b861/tenor.gif)

[2017-09-02 16:52] #73 closed

[2017-09-02 17:13] yihui commented on #72
You'll need to see #42 if you run into problems of configuring the rbind domain.

[2017-09-03 15:40] thercast commented on #40
@Ebedthan just checking to see if you had this issue with your site domain resolved?

[2017-09-03 15:41] thercast commented on #41
Looks like everything is working for you so we'll close the issue.  Keep us posted if you encounter other issues and welcome to Rbind :+1:

[2017-09-03 15:41] #41 closed

[2017-09-03 15:42] thercast commented on #45
Everything looks to be working well so I'll close for now.  Let us know if you encounter any other issues.

[2017-09-03 15:42] #45 closed

[2017-09-03 15:43] thercast commented on #53
@welch16 just checking in to see if everything is working well for you?

[2017-09-03 15:45] thercast commented on #57
@david-jankoski I checked out your site and everything looks to be working well.  I'll close for now but if you encounter any other issues please let us know.  Welcome to Rbind!

[2017-09-03 15:45] #57 closed

[2017-09-03 15:48] thercast commented on #58
@coreysparks just wanted to let you know that it is also possible to have a domain like `coreysparks.rbind.io`, just let us know if you'd like that instead.

[2017-09-03 15:49] thercast commented on #60
@larnsce just checking in to see if you resolved the issue or would like further assistance?

[2017-09-03 15:51] thercast commented on #61
@yijutseng just checking in to see if everything is working as expected for you?

[2017-09-03 15:53] thercast commented on #66
@b-rodrigues looks like your site is working well so I will close for now, but please let us know if you need further assistance.

[2017-09-03 15:53] #66 closed

[2017-09-03 15:55] thercast commented on #69
@rudeboybert your site looks excellent and everything seems to be working well, so I will close for now.  Feel free to reach out if you encounter any issues in the future.

[2017-09-03 15:55] #69 closed

[2017-09-03 19:34] welch16 commented on #53
yes, sorry it took me so long to get back to you guys. Thank you very much!

[2017-09-03 19:34] #53 closed

[2017-09-07 15:49] Zhiqiangcao commented on #61
May I receive subdomain statczq.rbind.io?
my netlify info is http://statczq.netlify.com/
Thanks!

[2017-09-07 16:12] yihui commented on #61
@Zhiqiangcao Done. See #42 if you run into problems.

[2017-09-08 16:13] Zhiqiangcao commented on #61
@yihui Thanks! It works! ^_^

[2017-09-10 10:31] MorgsJohn opened #74 "New Subdomain request"
I have set up a github repository with my [blogdown](https://github.com/MorgsJohn/ikhaya_wami) files and linked it to my Netlify profile.

I would like to use the rbind.io subdomain.

My netlify info:
https://morgsjohn.netlify.com

Thanks

[2017-09-11 20:10] david-jankoski commented on #57
yes - sorry for the late reply and thank you all for your help, everything works great now.
I had some minor problems (the site did not want to pick up on the changes somehow - but rebuild, redeploy fixed), but i am learning as i go and think i can take it from here.

thanks again!
greetings,
david

[2017-09-11 20:16] yihui commented on #57
Right. I also noticed that @Netlify was not quite stable recently. Sometimes you just have to rebuild/redeploy manually from app.netlify.com.

[2017-09-12 03:15] yihui commented on #74
What is your preferred rbind.io subdomain?

[2017-09-12 21:18] asimumba opened #75 "site not deploying on netlify"
Hi,
I would like help with my site. I have a problem with the site building and deploying on netlify.

I take a mini version of the log:
@thercast since you still have access to the site, I would appreciate your assistance.

The repo is here: https://github.com/rbind/asimumba
ERROR: 2017/09/12 21:09:56 hugo.go:421: Current theme does not support Hugo version 0.17. Minimum version required is 0.2
S

[2017-09-12 21:47] thercast commented on #75
I will take a look later today when I get back to a computer

On Sep 12, 2017 5:19 PM, "Aaron Simumba" <notifications@github.com> wrote:

[2017-09-12 21:49] asimumba commented on #75
I managed to install the right hugo version for the build. Ohh that was easy...

[2017-09-12 21:49] #75 closed

[2017-09-12 21:51] thercast commented on #75
Nice job!

On Sep 12, 2017 5:49 PM, "Aaron Simumba" <notifications@github.com> wrote:

[2017-09-13 04:41] MorgsJohn commented on #74
Confusion from me :/

I meant domain.

I would very much like to be a morgsjohn.rbind.io kinda blog...

[2017-09-13 20:13] apreshill opened #76 "subdomain request for rladies-pdx"
Hello,

I'd like to request an rbind.io subdomain for rladies-pdx. The site is deployed through Netlify and currently lives at: http://rladies-pdx.netlify.com.

Can we have rladies-pdx.rbind.io?

Thanks!
Alison

[2017-09-13 22:25] michielvandijk opened #77 "join rbind"
Hi,
A few days ago I became aware of blogdown through rbloggers. Today I read the blog by Alison on how to build an academic website and started to build my own website, trying to learn the package.

As a researcher working at IIASA (http://www.iiasa.ac.at/) and Wageningen University I am using R on a daily basis. Hence, having my own website on rbind that I can easily manage with R would be great

[2017-09-13 22:46] yihui commented on #74
Done. If you run into problems, please see #42.

[2017-09-14 04:27] yihui commented on #76
Of course. Done.

[2017-09-14 04:28] yihui commented on #77
@thercast Could you take care of this? Thanks!

[2017-09-14 04:31] MorgsJohn commented on #74
"Must be unique" popping its little head up. I have asked the Netlify guys for help. Seems to be how the other resolved this issue. Will report back when I'm sorted.

Thanks @yihui

[2017-09-14 13:24] apreshill commented on #76
Thank you, @yihui !

[2017-09-14 13:24] #76 closed

[2017-09-14 19:10] MorgsJohn commented on #74
Sorted. Netlify helped out.

[2017-09-14 19:10] #74 closed

[2017-09-14 23:09] johnbwilliams opened #78 "join request from openemr"
Dear rbind support,

Thanks for this support service.  We are excited about creating a blog with blogdown for the [OpenEMR Project](http://www.open-emr.org/) ([GitHub]( https://github.com/openemr))

Blog content will include health data science topics, including shiny apps, and an evolving [microservice analytics platform](https://github.com/openemr/openemr-analytics) including shiny-server & rstu

[2017-09-15 00:45] mtkent1 opened #79 "new domain request"
Hi-

I am looking to build up my R web presence starting with learning blogdown / publishing my first site. It would be great to host my current domain mkent.netlify.com at mkent.rbind.io

Let me know if I need to do anything else.

Thanks,
Matt

[2017-09-15 03:53] yihui commented on #78
I'm glad that you like the theme of the RStudio blog (I was the designer), but I hope you could consider a different theme. Sorry for being selfish this time. I just want our blog's theme could be unique enough. This theme is actually based on my hugo-xmin theme: https://github.com/yihui/hugo-xmin but apparently I have heavily customized it. Please feel free to use this theme if you like, and cust

[2017-09-15 03:56] yihui commented on #79
Done. If you run into problems, please see #42.

[2017-09-15 04:08] njtierney commented on #78
I've just added @johnbwilliams as a vector member, once the repo is migrated to rbind I can give ownership rights, :)

@yihui let me know if there is anything else I can help with.

[2017-09-15 04:36] johnbwilliams commented on #78
hugo-xmin theme sounds good.    the new_site command would then be:
`blogdown::new_site(theme = "https://github.com/yihui/hugo-xmin")` ?

[2017-09-15 04:40] yihui commented on #78
@johnbwilliams Once you accept the invite, you can create the repo here by yourself. For the command, please see the R documentation `?blogdown::new_site` and the book section https://bookdown.org/yihui/blogdown/other-themes.html.

[2017-09-15 05:55] johnbwilliams commented on #78
https://stackoverflow.com/questions/46232574/blogdownnew-site-bash-not-found-on-win7

[2017-09-15 11:50] mtkent1 commented on #79
Thanks! The only issue I am running into is Netlify stating that another site is already using the domain. I've reached out to their support for more information.

![screen shot 2017-09-15 at 7 49 00 am](https://user-images.githubusercontent.com/2981029/30480990-78ece4fc-99ea-11e7-8631-3c90b6e2e2e5.png)

[2017-09-15 20:06] mtkent1 commented on #79
This has been resolved.

Thanks for the help and all the great work!

[2017-09-15 20:06] #79 closed

[2017-09-16 02:41] thercast commented on #77
@michielvandijk I've set up a `blogdown` site repository for you at [github.com/rbind/michielvandijk](https://github.com/rbind/michielvandijk) and you should receive an invitation by email to join the `rbind` org.  I gave you the academic theme, but you'll need to make tweaks to personalize the site to your desired content.  Did you want us to secure a domain on `rbind` for you as well?  If so wha

[2017-09-16 02:47] thercast commented on #61
@Zhiqiangcao looks like everything is working well so I'll close the issue. Feel free to reach out again if you encounter any questions or need further assistance.

[2017-09-16 02:47] #61 closed

[2017-09-16 03:02] yihui commented on #38
Definitely. I almost always need assistance! Some people have not set their homepage URLs, and you need to ask them to do so first. Thanks!

[2017-09-16 08:05] avinax opened #80 "Missing admin rights to deploy website on Netlifly"
Hi,

I am facing the same issue that was raised by another user a few days back [https://github.com/rbind/support/issues/60](url). Below is the screenshot:

![blogdown](https://user-images.githubusercontent.com/13561625/30510528-b97da75a-9ae3-11e7-803d-33203c3add01.JPG)

Looking forward to your support.

[2017-09-16 09:24] #80 closed

[2017-09-16 15:13] michielvandijk commented on #77
Hi Eric,
Thanks! Yes! Please reserve a "michielvandijk" domain for me. I would like to use this for my academic website.

Cheers,
Michiel

Sent from my iPhone

On 16 Sep 2017, at 04:41, Eric Nantz <notifications@github.com<mailto:notifications@github.com>> wrote:

@michielvandijk<https://github.com/michielvandijk> I've set up a blogdown site repository for you at github.com/rbind/michielvandijk<ht

[2017-09-16 23:40] thercast commented on #77
Sounds good, we'll be glad to give you the domain of `michielvandijk.rbind.io`.  @yihui  Could you secure a DNS record for this?

[2017-09-17 02:12] yihui commented on #77
@michielvandijk I can give you the rbind subdomain, but you need to tell me your Netlify subdomain first.

[2017-09-17 03:40] #78 closed

[2017-09-17 03:45] johnbwilliams opened #81 "deleted"

[2017-09-17 09:23] michielvandijk commented on #77
I have not worked with Netlify yet so I need to get into it first. I also read you might be able to set it up for me (quicker :-). If you can, please do. If not I will try to find out how it works tomorrow. Thanks!

[2017-09-17 10:23] johnbwilliams commented on #81
deleted

[2017-09-17 12:56] thercast commented on #77
@michielvandijk I forgot to mention that I set you up with netlify already.  The temporary URL is <https://governor-governors-35321.netlify.com/> .  @yihui the strange part is when I browse the netlify URL I get an error about page not found, even though locally the site looked to be built just fine.  I did change the `baseURL` to the desired rbind address so perhaps once we get the DNS resolved i

[2017-09-17 14:03] atyre2 opened #82 "Mixed content blocking on drewtyre.rbind.io"
I'm seeing
![image](https://user-images.githubusercontent.com/2787883/30521365-146bd966-9b84-11e7-8bee-4f375d5581ec.png)
on Firefox, and a similar "non-secure" message on Chrome.

It seems to be related to the disqus comments (from web console):
Loading mixed (insecure) display content “http://bcp.crwdcntrl.net/5/c=8879?https%3A%2F%2Flinks.services.disqus.com%2Fapi%2Fsync%2Flot%2Fmatch%3Fuid%3D%24

[2017-09-17 14:48] #81 closed

[2017-09-17 18:38] johnbwilliams opened #83 "hugo-lithium-theme: display of tags & categories"
(please let me know if this is not the right forum for these questions, thanks)

- Current phase of learning blogdown: adding features to default theme.
- Added to config.toml:
[code]
Is it possible to upgrade the display of categories and tags?   Currently display as:

[code]

[code]
Thank you!

[2017-09-17 22:03] johnbwilliams opened #84 "link behavior"
Hi,

I am getting this criticism of blogdown:

"That blog mechanism doesn't do a good job with links. It tries to open the link in a embedded frame which is not a standard way to do thing. In fact, many bigger sites, such as github do not allow this (note that nothing happens when click on the github links). When click a link, it should completely leave the site and go to the link."

Is blogdown c

[2017-09-18 04:18] yihui commented on #82
Take a look at your HTML source, and you can see there are a few http resources. I don't know why they used the nonsecure protocol, but you can try to force HTTPS on Netlify (https://app.netlify.com Site Settings -> Domain Management -> HTTPS):

![image](https://user-images.githubusercontent.com/163582/30528996-396f2e50-9bfe-11e7-9592-2005c8e4ba5c.png)

[2017-09-18 04:34] yihui commented on #84
The criticism does not make sense to me. In particular,

I don't know why this person believed this "should" be the correct behavior or even the "standard". It is quite debatable whether a link should be opened in the current window (tab) or a new window. I don't think there is a correct answer, and personally I don't have an opinion on this. Either way has its pros and cons.

That is false. Most

[2017-09-18 04:37] yihui commented on #83
This theme does not have the template for taxonomies (`terms.html`), so the index pages will not be generated (e.g., `tags/index.html`). If you want to add it, you need to spend some time on learning more about Hugo themes and templates: https://bookdown.org/yihui/blogdown/templates.html

[2017-09-18 04:41] yihui commented on #83
BTW, as I mentioned in the blogdown announcement, StackOverflow is the best place to ask questions: https://blog.rstudio.com/2017/09/11/announcing-blogdown/

We also mentioned at https://support.rbind.io/about/ that this repo is not the place to ask questions about blogdown.

[More on this if you care...](https://yihui.name/en/2017/08/so-gh-email/)

[2017-09-18 05:04] yihui commented on #77
@thercast Could you check the deploy log and verify if it actually succeeded? I have configured the rbind subdomain, but you are likely to have to contact Netlify support to make it work (#42).

[2017-09-18 08:49] michielvandijk commented on #77
Deployment works fine but when I want to set up my personal domain and fill out the rbind one, I got the message that it is already in use. Not sure if you still need to link my netlify domain to rbind or if it is simular to #42. In any case I have sent them a message. This is my netlify domain name in case you still need to link it to the rbind one: https://michielvandijk.netlify.com

From: Yihui

[2017-09-18 13:40] yihui commented on #77
@michielvandijk Same issue as #42.

[2017-09-18 14:26] atyre2 commented on #82
Wow! no kidding ... yeesh. OK, thanks for pointing that out. Alot of those are links I inserted, but quite a few from the academic theme and gitbook too. I've got some link checking to do, apparently.

[2017-09-18 14:26] #82 closed

[2017-09-18 19:52] johnbwilliams opened #85 "deleted"
deleted

[2017-09-18 21:36] #85 closed

[2017-09-19 01:34] thercast commented on #77
@michielvandijk I tried re-doing the deployment and ran in to the same issue as you when assigning the custom domain.  I have contacted Netlify support and I will update you when I get a response back.

[2017-09-19 02:09] yihui commented on #77
Since you both created a site from the same repo but used different Netlify subdomains, I don't know which subdomain I should use. Currently I'm pointing `michielvandijk.rbind.io` to `michielvandijk.netlify.com`, so @thercast's site may not work. You can let @michielvandijk contact Netlify support.

[2017-09-19 03:44] saidee27 opened #86 "Requesting subdomain for my netlify site"
Hi All:

I am requesting for my current domain at http://saidee.netlify.com/ to be hosted at saidee.rbind.io
Please let me know if I need to do anything else.

Thanks
-Sai

[2017-09-19 06:20] johnbwilliams opened #87 "feature request: meme"
http://rpubs.com/johnbwilliams/blogdown_meme

[2017-09-19 06:20] #84 closed

[2017-09-19 06:20] #83 closed

[2017-09-19 07:11] michielvandijk commented on #77
Indeed, there seems to be a mixup up between the two versions when I try to deploy – still getting a warning about a duplicate. I contacted Netlify again and asked them to link to my version.

From: Yihui Xie [mailto:notifications@github.com]
Sent: 19 September 2017 04:09
To: rbind/support
Cc: Dijk, Michiel van; Mention
Subject: Re: [rbind/support] join rbind (#77)

Since you both created a site f

[2017-09-19 15:58] yihui commented on #87
This technology is called the Open Graph (OG) Protocol: http://ogp.me

Hugo has some internal templates for OG: https://gohugo.io/templates/internal/ e.g. `_internal/opengraph.html` and `_internal/twitter_cards.html`. But the worst thing about Hugo is its documentation... Again, these templates are not documented, and you must dig the source code to know how to properly use them:

https://github.c

[2017-09-19 15:58] #87 closed

[2017-09-19 15:59] yihui commented on #86
Done. Please see #42 in case of trouble on Netlify.

[2017-09-19 16:04] yihui commented on #83
For the record, this issue was also cross-posted on StackOverflow: https://stackoverflow.com/q/46285271/559676

[2017-09-20 02:48] thercast commented on #77
Sorry for causing so much trouble in this process :disappointed: I made sure the site I deployed does not request a custom domain (I tried deleting it from the rbind netlify site list but it appears I don't have sufficient permission).  @michielvandijk hopefully you can find a resolution with the netlify support team and they can figure out why `michielvandijk.rbind.io` is not able to be assigned.

[2017-09-20 22:41] ismayc opened #88 "Requesting subdomain for chester.rbind.io"
Hello,

I'd like to request an rbind.io subdomain for my personal page. The site is deployed through Netlify and currently lives at: http://chester.netlify.com.

Can I have chester.rbind.io?

Thanks!
Chester

PS If this is a hugo+blogdown specific thing, I'll convert everything over to blogdown and repost as needed.

[2017-09-21 02:15] yihui commented on #88
Done on my side. You need to contact Netlify support (#42).

There is no need or hurry to switch to blogdown.

[2017-09-21 21:37] johnbwilliams opened #89 "rbind.io subdomain request"
Hi,

My blogdown site is living at www.openemr.blog.    Netlify supports domain aliases, so I'd like to support the blogdown communty with an rbind.io domain alias.

Is  openemr.rbind.io  available?

Thanks

[2017-09-21 22:17] michielvandijk commented on #77
I think most of the problems are solved now. I fixed some settings on Netlify for continuous deployment and it seems my website is being built straight from my github rbind repo. However, I still face a problem when using blogdown on my laptop. When I run: blogdown:::serve_site() on my laptop I get the error below. Also when I run the add on I get an error : the system cannot find the file specifi

[2017-09-21 22:20] yihui commented on #77
@michielvandijk As I mentioned in the blogdown announcement (https://blog.rstudio.com/2017/09/11/announcing-blogdown/):

[2017-09-21 22:24] yihui commented on #89
It is. How do you want me to set the CNAME record?

[2017-09-21 22:28] michielvandijk commented on #77
Good advice. That solved one issue! The serve_site() works fine now. The other issue still remains but I have a feeling that this is perhaps more general. When I run another addin: update_metadata. I get: Error in `Encoding<-`(`*tmp*`, value = "UTF-8") :
  a character vector argument expected
Same issue with the bookdown addin and some others. Any suggestions?

From: Yihui Xie [mailto:notification

[2017-09-21 22:34] yihui commented on #77
Could you provide a minimal and reproducible example? I only need the YAML metadata of the post.

[2017-09-21 22:36] michielvandijk commented on #77
Is this what you need? Not much info I guess:
---
title: Test to reproduce error
author: test
date: '2017-09-22'
slug: test-to-reproduce-error
categories: []
tags: []
header:
  caption: ''
  image: ''
---

From: Yihui Xie [mailto:notifications@github.com]
Sent: 22 September 2017 00:34
To: rbind/support <support@noreply.github.com>
Cc: Dijk, Michiel van <michiel.vandijk@wur.nl>; Mention <mention@no

[2017-09-21 22:41] yihui commented on #77
And your session info?

[code]

Does the problem occur as soon as you click the addin?

[2017-09-21 22:48] michielvandijk commented on #77
Some additional things I found out by coincidence. When I have the markdown file open (e.g the .md file I just sent), the addins work (e.g. update metadata, preview book)! Adding a new post does work, like before but still gives the same error as shown by the screenshot shared before.

From: Yihui Xie [mailto:notifications@github.com]
Sent: 22 September 2017 00:20
To: rbind/support <support@norepl

[2017-09-21 22:49] johnbwilliams commented on #89
please set the CNAME record for `openemr.rbind.io` to `openemr.netlify.com`

thanks for the excellent blogdown book appendix on DNS records

[2017-09-21 22:56] michielvandijk commented on #77
See session info below. To be clear, I encounter two (possibly related) errors.
The first is that the addin do not work when I do not have a file open but as soon as I open an .rmd file it works. Example (simply opening an rmd file between the two update statements):
blogdown:::update_meta_addin()
Error in `Encoding<-`(`*tmp*`, value = "UTF-8") :
  a character vector argument expected

Listening o

[2017-09-21 23:09] michielvandijk commented on #77
and some other info, which might be relevant. When I run serve_site, there is a difference in how .Rmd and .md files are treated. .html files of .Rmd files are (wrongly) placed in the post folder while and an additiional message is printed (e.g. Rendering content/post/2017-09-21-test.Rmd) while .html files of .md files are placed in public/post sub folders.
 _______________________________________

[2017-09-22 03:13] yihui commented on #89
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-09-22 05:14] yihui commented on #77
@michielvandijk You seem to have reported several issues about blogdown, but I don't completely understand them. Could you file them separately to https://github.com/rstudio/blogdown/issues? Note you have been replying to an issue in the rbind repo, which is not meant to be the help desk of blogdown (https://support.rbind.io/about/). Please also note that since you are replying through emails, non

[2017-09-22 05:14] #77 closed

[2017-09-25 16:33] #88 closed

[2017-09-25 23:37] johnbwilliams commented on #89
Thanks Yihui!

From Netlify Support:
Got that domain alias in place for you, John.  Should be working already :)  We call those "domain aliases" in case you want to add one in the future: https://app.netlify.com/sites/openemr/settings/domain#domain-aliases

[2017-09-25 23:37] #89 closed

[2017-09-26 01:05] chunjiw opened #90 "Domain name request"
Hi,

I am requesting for the chunjiw.rbind.io domain name for my new netlify website chunjiw.netlify.com. Please let me know whether I'm doing it right. Thank you!!

Chunji

[2017-09-26 18:41] yihui commented on #90
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-09-26 21:28] chunjiw commented on #90
Thank you! chunjiw.rbind.io now works smoothly. People at Netlify are very helpful.

[2017-09-26 21:28] #90 closed

[2017-09-26 21:31] yihui commented on #90
Yes, indeed they are.

[2017-09-28 02:32] rahulxc opened #91 "Requesting New Subdomain"
I am a newbie but would love to try rbind out! My subdomain preference would be
rahulxc.rbind.io

Thank you!

[2017-09-28 05:15] yihui commented on #91
Please let me know your Netlify subdomain first.

[2017-09-30 17:10] rahulxc commented on #91
That'd be https://rahulxc.netlify.com/

[2017-09-30 17:14] yihui commented on #91
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-10-02 15:16] konradmayer opened #92 "Requesting a subdomain for my Netlify site"
I would like to request a subdomain **konradmayer.rbind.io** for my Netlify site hosted at **https://recruiter-camel-67531.netlify.com/**

Thank you so much for your efforts!

[2017-10-02 20:05] filipwastberg opened #93 "Request for subdomain for dataland.netlify.com"
Hi!

I would like to request a subdomain for my site at Netlify, [dataland.netlify.com](https://dataland.netlify.com/), to dataland.rbind.io.

Thanks in advance and thank you for the amazing work with book/blogdown.

/ Filip

[2017-10-03 03:23] yihui commented on #92
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-10-03 03:24] yihui commented on #93
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-10-03 05:44] konradmayer commented on #92
Thank you!

[2017-10-03 10:22] ruaridhw opened #94 "Requesting new site"
Hi,

I would like to setup a new site using the [Identity](https://themes.gohugo.io/hugo-identity-theme/) Hugo theme with blogdown. Preferable DNS would be ruaridhw.rbind.io if possible.

Thank you!

[2017-10-03 14:42] yihui commented on #94
Cc @rbind/matrix

I'll set up the rbind.io domain once the Netlify subdomain is ready.

[2017-10-03 16:01] akustika opened #95 "Requesting subdomain for dkim"
Hi,

I’d like to request an rbind.io subdomain for dkim. This site is deployed through Netlify and currently lives at: https://dkim.netlify.com

Do you mind if I have dkim.rbind.io?

Thanks,
Don

[2017-10-03 16:26] yihui commented on #95
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-10-03 16:55] akustika commented on #95
Thanks a lot, and thanks for blogdown!

[2017-10-03 16:56] yihui commented on #95
My pleasure!

[2017-10-04 01:58] #95 closed

[2017-10-06 12:44] #93 closed

[2017-10-11 11:44] ampatzia opened #96 "Requesting new *.rbind.io subdomain"
I would like to be assigned the ampatziakas.rbind.io subdomain, currently using https://ampatziakas.netlify.com/ .

[2017-10-11 17:48] yihui commented on #96
I have configured the rbind subdomain you requested, but you have to contact Netlify support and they will configure it on their side (#42).

[2017-10-11 19:49] ampatzia commented on #96
Done from both sides, subdomain active.
Thanks you for your time and effort :)

[2017-10-11 19:49] #96 closed

[2017-10-12 13:50] desautm opened #97 "Rbind.io domain name"
Hi, can I have madesautels.rbind.io domain name. I currently have madesautels.netlify.com name. Thanks in advance!

[2017-10-12 16:47] yihui commented on #97
Done. Please set this domain for your website on Netlify and let me know if you run into any problems:

![image](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

[2017-10-12 16:50] desautm commented on #97
Just done and my site is already live. Thanks, no problems on my end. Thank you for the speed of your response.

[2017-10-12 16:50] #97 closed

[2017-10-12 17:01] yihui commented on #97
Very glad to hear that it worked well!

[2017-10-12 18:07] asimumba opened #98 "Requesting subdomain"
Hi,

Kindly assist setting up the subdomain for the zedr blog. Desired subdomain is:  zedr.rbind.io.

[2017-10-12 18:13] yihui commented on #98
Please tell us your Netlify subdomain first.

[2017-10-12 18:35] asimumba commented on #98
https://minister-wolf-23726.netlify.com/.

[2017-10-12 18:43] yihui commented on #98
Done. Please [configure the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

[2017-10-12 18:56] asimumba commented on #98
Thank you @yihui

[2017-10-13 01:41] asimumba commented on #98
I have gone through [#42](https://github.com/rbind/support/issues/42). I do not have that issue. My worry is that I managed to set up everything and the site was live. After setting up https, I am having broken links. Would you know the cause?

[2017-10-13 02:20] yihui commented on #98
You must have changed your Netlify subdomain: https://minister-wolf-23726.netlify.com is no longer accessible.

[2017-10-13 02:21] asimumba commented on #98
Ohh yes I did.

[2017-10-13 02:22] asimumba commented on #98
Do I revert back?

[2017-10-13 02:44] yihui commented on #98
Yes. Don't change your Netlify subdomain, because your rbind subdomain points to it.

[2017-10-13 03:05] asimumba commented on #98
I have changed my theme to casper on the other site and I am getting the same error.

[2017-10-13 11:11] asimumba commented on #98
I did change back but to no avail. Now I am suspecting the theme I am using,

[2017-10-13 13:38] yihui commented on #98
I don't have time to help you with blogdown/Hugo/template issues. I can only afford the time to set up the domain for you. For all other issues, please [post to StackOverflow](https://yihui.name/en/2017/08/so-gh-email/) instead (with reproducible examples). Thanks!

[2017-10-13 13:38] #98 closed

[2017-10-14 11:21] asimumba commented on #98
@thercast maybe if you have time you can step in. For my personal blog: https://asimumba.rbind.io/ it is loading as an empty site. Plus you still have admin privileges on netlify. I have setup the same site at https://aaronsimumba.netlify.com/ and everything seem to work just fine. For the other blog http://zedr.rbind.io/ I can add you on netlify for a look.

[2017-10-14 12:18] thercast commented on #98
Just to clarify was everything working before the switch to casper theme?  I took a look in the netlify deploy logs and nothing appeared out of the ordinary

[2017-10-14 12:24] asimumba commented on #98
Everything was working. On the zedr.rbind.io i made the mistake of renaming it after @yihui had configured the .rbind.io subdomain. Despite reverting back to the randomly generated name on netlify, I still do seem to get the sites loading. On the deploy part, everything seem fine.

[2017-10-14 23:34] asimumba opened #99 "Request to redirect subdomain"
Hi,
In reference to issue [#98](https://github.com/rbind/support/issues/98). I would like to know if it is possible to set-up the sites for me from your side? I have tested through manual deployment on netlify, everything is working perfectly. The sources for both sites: [zedr](https://github.com/rbind/zedr) and [asimumba](https://github.com/rbind/asimumba). For both, I would like to maintain orig

[2017-10-15 14:40] asimumba commented on #99
After hours of digging around and experimenting. I was able to revert back to my previous theme and the asimumb.rbind.io is back online. For now I suspect something must be going on with the Casper theme.

[2017-10-15 14:40] #99 closed

[2017-10-16 07:10] Salfo opened #100 "To request a subdomain"
Hi,
I would like to request a subdomain for a website I just deployed to Netlify.
My Netlify subdomain is: https://police-equation-15167.netlify.com/
I would like to use the subdomain: www.salfobikienga.rbind.io
Please, let me know if I need to provide more information.
Kind Regards,

[2017-10-16 14:29] yihui commented on #100
I have configured the rbind subdomain (_without_ `www`) you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

[2017-10-16 15:29] Salfo commented on #100
Dear Xie,
Thank you for configuring the subdomain. I just tried what I thought was
the next step, but something does not seem right. See this picture:
[image: Inline image 2]
Can you let me know what I did wrong?
Kind Regards,

On Mon, Oct 16, 2017 at 9:29 AM, Yihui Xie <notifications@github.com> wrote:

--
Salfo Bikienga,
PhD candidate in Economics & Statistics
University of Nebraska-Lincoln

[2017-10-16 15:45] yihui commented on #100
Github issues does not support email attachments (or inline images). Please reply to this issue through the web interface instead of your email.

[2017-10-16 15:55] Salfo commented on #100
Dear Xie,
Thank you for configuring the subdomain. I just tried what I thought was
the next step, but something does not seem right. See this picture:

![domain](https://user-images.githubusercontent.com/10154012/31621866-73c7a276-b260-11e7-974b-89e41077f728.png)

Can you let me know what I did wrong?
Kind Regards,

[2017-10-16 15:59] yihui commented on #100
Please read my first reply more carefully. I have emphasized `www` in the parentheses.

[2017-10-16 16:11] Salfo commented on #100
My apology! How do I fix it now? I am not seeying the form where to edit the name. Here is a screenshot of the window I see:
![subdomain](https://user-images.githubusercontent.com/10154012/31622669-ae3339b4-b262-11e7-8805-dc7f46e71154.png)
Kind Regards,

[2017-10-16 16:15] yihui commented on #100
You may have to bother Netlify support. Well, before we waste their time, let me just add `www` to your subdomain since it seems to be what you preferred. If you are okay with www.salfobikienga.rbind.io, you should be all set. If you prefer not to have `www`, I can give you more instructions.

[2017-10-16 16:21] Salfo commented on #100
Perfect! Thank you!

[2017-10-20 18:02] proto4426 opened #101 "New subdomain request"
My current Netlify website address :
https://pissoorta.netlify.com/    (in its early days of deployment)

My preferred rbind.io subdomain
https://pissoorta.rbind.io/

Do I have to transfer my [repo](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/) to do that, as proposed [here](https://support.rbind.io/about/) ?

Many thanks in advance.

[2017-10-20 18:39] yihui commented on #101
You don't have to transfer your repo, but you are welcome to.

One @rbind/matrix member should help you later.

[2017-10-20 19:54] road2stat commented on #101
@proto4426 - thanks for sending the request. I have configured the rbind subdomain you requested.

[2017-10-20 22:46] jarvmiller opened #102 "subdomain request"
### Netlify website address

jarvismiller.netlify.com

### Preferred rbind.io subdomain

https://jarvis.rbind.io

Thank you!

[2017-10-20 22:58] road2stat commented on #102
@jarvmiller I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-10-20 23:12] jarvmiller commented on #102
I have clicked 'set a custom domain' and entered `jarvis.rbind.io`. then clicked the https enabler button. Now I have the following results
<img width="677" alt="screen shot 2017-10-20 at 7 08 26 pm" src="https://user-images.githubusercontent.com/16932929/31845004-9ed83fc6-b5ca-11e7-8660-27cd44bfce27.png">
<img width="469" alt="screen shot 2017-10-20 at 7 08 43 pm" src="https://user-images.githubu

[2017-10-21 00:07] road2stat commented on #102
Looks good to me and the subdomain is working for me here. @yihui - could you please double check if everything's ok?

[2017-10-21 00:08] jarvmiller commented on #102
It actually works now! I guess it may have just taken longer? I tried it immediately and got an error saying it couldn't reach the site but now everything seems to be ok. Thanks!

[2017-10-21 00:21] jarvmiller commented on #102
Sorry, just noticed a small issue. I transferred my repo to rbind and now the url is https://github.com/rbind/netlify_site

however, when I try to use this for CI w/ netlify I get the following error:
`Error: We couldn’t set up continuous deployment for this repository. This typically happens when you don’t have admin rights to the repository`

[2017-10-21 02:44] yihui commented on #102
@jarvmiller Just keep your previous site on Netlify. You don't need to create a new site from the repo you transferred. The old repo will be automatically redirected to the new one by Github. In other words, there is nothing you need to do on Netlify. BTW, you'd better rename your repo (`netlify_site` is a too general name here, but it is up to you).

@road2stat Please make @jarvmiller admin of hi

[2017-10-21 07:29] road2stat commented on #102
-- thanks @yihui, @jarvmiller is now admin of the transferred repo.

[2017-10-21 09:15] proto4426 commented on #101
Fast and easy !
Thank you very much.

[2017-10-21 18:56] aloy opened #103 "subdomain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

aloy.netlify.com

### Preferred rbind.io subdomain

aloy.rbind.io

[2017-10-21 21:02] yihui commented on #103
No problem. An rbind admin @rbind/matrix will help you later.

[2017-10-22 00:23] road2stat commented on #103
-- thanks @aloy for sending the request. I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

[2017-10-22 00:23] #102 closed

[2017-10-22 03:14] nataliegnelson opened #104 "Subdomain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

nelson.netlify.com

### Preferred rbind.io subdomain

nelson.rbind.io

[2017-10-22 03:58] road2stat commented on #104
@nataliegnelson I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-10-22 17:04] ruaridhw commented on #94
@rbind/matrix I've setup the repo and site at https://ruaridhw.netlify.com/
Let me know if you need anything else before configuring http://ruaridhw.rbind.io on your end.

Thanks!

[2017-10-22 18:04] road2stat commented on #94
@ruaridhw I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-10-22 18:05] #103 closed

[2017-10-25 10:41] pat-s commented on #60
@thercast @njtierney I also need admin rights for my repository https://github.com/rbind/pat-s_web :)

[2017-10-25 13:11] road2stat commented on #60
@pat-s admin added 😎

[2017-10-25 13:12] #104 closed

[2017-10-25 13:12] #101 closed

[2017-10-25 13:12] #100 closed

[2017-10-25 19:45] #60 closed

[2017-10-26 20:37] sharathdhamodaran opened #105 "Subdomain request for my netlify"
Hi,
I am requesting a subdomain for my website at https://sharathdhamodaran.netlify.com/ to be hosted at sharathdhamodaran.rbind.io

Kindly let me know if you need further information

Thanks,
Sharath

[2017-10-26 23:09] road2stat commented on #105
@sharathdhamodaran I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-10-28 14:01] sn248 opened #106 "requesting an rbind subdomain"
Dear admin

Could you please configure an rbind subdomain for my netlify website. The relevant informatin is provided below. Thank you!

### Netlify website address

sn248.netlify.com

### Preferred rbind.io subdomain

sn248.rbind.io

[2017-10-28 17:11] road2stat commented on #106
@sn248 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-01 15:21] martinolmos opened #107 "rbind.io subdomain request"
Hi,
I would like to request an rbind.io subdomain.
Thanks!

### Netlify website address

https://cameraman-parrot-62240.netlify.com

### Preferred rbind.io subdomain

r2website.rbind.io

[2017-11-01 16:52] road2stat commented on #107
@martinolmos - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-02 03:55] adam-gruer opened #108 "New subdomain request"
Hi , I'd linke to request a rbind.io subdomain please.
 Thank you!

### Netlify website address

trader-chimpanzee-34787.netlify.com

### Preferred rbind.io subdomain

adamgruer.rbind.io

[2017-11-02 06:09] road2stat commented on #108
@adam-gruer - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-06 01:56] fmgarciadiaz opened #109 "New subdomain request"
Hi,
I would like to request an rbind.io subdomain.
Thanks!

Netlify website address

https://operator-albert-36287.netlify.com

Preferred rbind.io subdomain
fergd.rbind.io

[2017-11-07 00:03] road2stat commented on #109
@fmgarciadiaz - I have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-07 00:04] #108 closed

[2017-11-07 00:04] #107 closed

[2017-11-07 00:05] #106 closed

[2017-11-07 00:05] #105 closed

[2017-11-07 02:44] fmgarciadiaz commented on #109
=) thanks!!

[2017-11-07 02:44] #109 closed

[2017-11-10 04:28] bnaras opened #110 "Need a new domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

I don't have one. You can see the preview at:

https://web.stanford.edu/~naras/cvxr

for now although the source is at https://github.com/bnaras/cvxr_docs

I am using the Hugo alabaster theme.  The package is due to be released to cran in a few days and so this in preparation for that release

##

[2017-11-10 05:01] road2stat commented on #110
@yihui - I guess we might need the original website's address to be under a top or sub domain without additional paths to directories? Not sure if this is possible...

[2017-11-10 15:00] yihui commented on #110
@bnaras Since the source is in a Github repo, I recommend you to publish it via Netlify: https://bookdown.org/yihui/blogdown/deployment.html (Section 3.1). After you have got the Netlify subdomain, we can configure the rbind.io subdomain for you.

[2017-11-10 21:41] bnaras commented on #110
Thanks @yihui . I got cvxr-netly.netlify.com

[2017-11-10 23:16] road2stat commented on #110
@bnaras - thanks! I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

[2017-11-11 09:20] NanaAkwasiAbayieBoateng opened #111 "*.rbind.io domain names"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address
https://nanaboateng.Netlify.com

example.netlify.com

### Preferred rbind.io subdomain

https://nanaboateng.rbind.io

[2017-11-11 16:42] road2stat commented on #111
@NanaAkwasiAbayieBoateng - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-11 20:44] bnjcbsn opened #112 "subdomain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

burgler-seal-55735.netlify.com

### Preferred rbind.io subdomain

benjjacobson.rbind.io

Thank you!

[2017-11-11 23:40] road2stat commented on #112
@bnjcbsn - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-12 01:23] NanaAkwasiAbayieBoateng commented on #111
Thank you

[2017-11-15 21:14] mingrisch opened #113 "I would love to have my personal rbind.io. subdomain! Thank you so much!"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

mingrisch.netlify.com

### Preferred rbind.io subdomain

mingrisch.rbind.io

[2017-11-15 21:30] yihui commented on #113
Just briefly read your blog post on line-lengths and loved it! It is also something I was interested in but didn't have the time to analyze.

Anyway, one @rbind/matrix member should help you set up your subdomain later.

[2017-11-16 00:30] road2stat commented on #113
@mingrisch I'll second Yihui's comment on the line-length post. Great story!  👏

Also, I have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-19 15:21] davidjohnbaker1 opened #114 "Security with rbind host"
Hello--

When other users try to access my website davidjohnbaker.rbind.io they report that the connection is not secure and thus think they are unable access it. This happens more often when directed to specific posts ( https://davidjohnbaker.rbind.io/post/calculating-imultisets-in-r/ ) and am not exactly sure how to deal with this. My usual browsers (Chrome 61.0.3163.100 or Firefox 57.0) normall

[2017-11-19 16:58] yihui commented on #114
Screenshots please. I don't see any warnings about non-secure connections with Chrome 62 or Firefox 57.

[2017-11-19 17:05] davidjohnbaker1 commented on #114
I spent the morning reading about it since posting and think I fixed the problem. I do not think I had my Security Certificate enabled via Netlify. I haven't been able to reproduce the problem since.

[2017-11-19 17:07] #114 closed

[2017-11-22 03:11] tmastny opened #115 "*rbind.io subdomain request"
Hi, I'd like to request an rbind.io subdomain.

### Netlify website address

timmastny.netlify.com

### Preferred rbind.io subdomain

timmastny.rbind.io

[2017-11-23 07:28] Dehong1 opened #116 "rbind.io subdomain request"
Hi, I'd like to request an rbind.io subdomain.
### Netlify website address
https://dehongblog.netlify.com
### Preferred rbind.io subdomain
DeHong.rbind.io
### Thank you!

[2017-11-23 23:49] road2stat commented on #116
@Dehong1 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-23 23:50] road2stat commented on #115
@tmastny - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-23 23:50] #113 closed

[2017-11-23 23:50] #112 closed

[2017-11-23 23:51] #110 closed

[2017-11-23 23:51] #111 closed

[2017-11-24 05:13] Dehong1 commented on #116
Thank you again!

[2017-11-24 06:15] Dehong1 commented on #116
Please tell me is there anything I will do except setting the custom domain ?
![default](https://user-images.githubusercontent.com/33835267/33197692-f640313e-d121-11e7-8bba-518b6242deaf.png)

[2017-11-24 06:17] Dehong1 commented on #116
![Uploading 图片.png…]()

[2017-11-24 06:18] Dehong1 commented on #116
![default](https://user-images.githubusercontent.com/33835267/33197753-4919302c-d122-11e7-899e-ec433abd82d1.png)

[2017-11-24 06:18] Dehong1 commented on #116
Thank you

[2017-11-24 10:32] Dehong1 commented on #116
When I run the custom domain,the screen shows  Not Found,I want to know what I should do next.
![default](https://user-images.githubusercontent.com/33835267/33206581-a8ab57c2-d145-11e7-80f6-af48f18c1120.png)

[2017-11-24 11:45] marcosci opened #117 "rbind.io subdomain request"
### Netlify website address

marcosci.netlify.com

### Preferred rbind.io subdomain

marcosci.rbind.io

Thank you!

[2017-11-24 17:55] road2stat commented on #117
@marcosci - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-24 18:14] marcosci commented on #117
thanks @road2stat :) worked like a charme

[2017-11-24 18:14] #117 closed

[2017-11-25 07:58] Dehong1 commented on #116
@road2stat

[2017-11-25 16:28] dpique opened #118 "rbind.io subdomain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

dpique.netlify.com

### Preferred rbind.io subdomain

dpique.rbind.io

[2017-11-25 17:41] road2stat commented on #116
Not sure what's going on here, just double-checked the settings on our side and it looks good. Maybe @yihui could shine some light on this?

[2017-11-25 17:42] road2stat commented on #118
@dpique - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-25 22:59] yihui commented on #116
No, I have no idea. Please contact Netlify support.

[2017-11-25 23:01] yihui commented on #116
Actually the reason _might_ be that the subdomain configuration on Netlify is case-sensitive. We can only give you dehong.rbind.io and not DeHong.rbind.io. Anyway, please contact Netlify if the lower-case version does not work.

[2017-11-26 05:43] Dehong1 commented on #116
dehong.rbind.io is right,thank you !

[2017-11-26 06:30] #116 closed

[2017-11-26 06:30] #115 closed

[2017-11-26 06:31] #118 closed

[2017-11-27 10:29] avkmal opened #119 "Requesting rbind.io subdomain"
Hi, i would like to request rbind.io subdomain

### Netlify website address

akmal.netlify.com

### Preferred rbind.io subdomain

akmal.rbind.io

Thanks!

[2017-11-29 14:33] sophieb opened #120 "Requesting new rbind.io subdomain"
Hi,

I would like to request a new rbind.io subdomain.

### Netlify website address

stt4230.netlify.com

### Preferred rbind.io subdomain

stt4230.rbind.io

Thanks

[2017-11-29 16:23] road2stat commented on #120
@sophieb - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-11-29 17:01] sophieb commented on #120
Thank you!

[2017-11-29 21:24] #120 closed

[2017-11-29 21:24] #119 closed

[2017-12-04 22:22] Ebedthan commented on #40
Excuse me a lot @thercast. i've not yet fix this issue, i'm waiting for an answer from Netlify as #42 suggest.

[2017-12-04 22:38] Ebedthan commented on #40
It seems like the issue underlined by Netlify was fixed. So i have fix the issue on my side by re-entering the domain name and all is well.

[2017-12-04 22:39] Ebedthan commented on #40
@yihui should i close the issue now?

[2017-12-04 22:44] yihui commented on #40
Yes.

[2017-12-04 22:44] #40 closed

[2017-12-04 22:44] Ebedthan commented on #40
Thanks you a lot @yihui for your help, but before to close the issue I've just one need i you permit. I want to change the name of the domain from dsan-blog.rbind.io to point it to my name aebou.rbind.io ? Because the purpose of the site have changed and i want to use it now as my new blog instead.
Is it possible? thanks you

[2017-12-04 22:45] yihui commented on #40
Yes, it is possible. @rbind/matrix can help you.

[2017-12-04 22:46] Ebedthan commented on #40
OK thanks

[2017-12-04 22:46] yihui commented on #40
Actually since I'm here, I just changed it for you. Please update it on your side accordingly.

[2017-12-04 22:48] Ebedthan commented on #40
Great!!  all is well, thanks you @yihui.

[2017-12-08 05:11] jasonbaik94 opened #121 "Subdomain request"
Netlify website address:

https://jasonbaik94.netlify.com/

Preferred rbind.io subdomain

jasonbaik94.rbind.io

Thank you,
Jason

[2017-12-08 05:16] road2stat commented on #121
@jasonbaik94 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-12-08 05:19] jasonbaik94 commented on #121
Hello,

On the rbind support website, it says, Then *you need to configure the
custom domain on Netlify* by hitting the “Configure domain” button (people
often forget this step):

I can't find the "Configure Domain" button... I only can find the "Save"
button

Thanks,

On Fri, Dec 8, 2017 at 12:16 AM, Nan Xiao <notifications@github.com> wrote:

--
Jason Baik
Statistics & Data Science
Carnegie Mell

[2017-12-08 05:20] jasonbaik94 commented on #121
After I "Save",  I get this screen:

[image: Inline image 1]

On Fri, Dec 8, 2017 at 12:19 AM, Joon Woo Baik <joonwoob@andrew.cmu.edu>
wrote:

--
Jason Baik
Statistics & Data Science
Carnegie Mellon University
Pittsburgh, PA
(412)-499-2534

[2017-12-16 23:03] ozagordi opened #122 "Request subdomain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

ozagordi.netlify.com

### Preferred rbind.io subdomain

ozagordi.rbind.io

[2017-12-17 00:18] road2stat commented on #122
@ozagordi - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-12-17 07:15] ozagordi commented on #122
Thanks!

[2017-12-17 07:15] #122 closed

[2017-12-20 19:17] aosmith16 opened #123 "Request subdomain"
### Netlify website address

aomsith.netlify.com

### Preferred rbind.io subdomain

aosmith.rbind.io

Thanks!

[2017-12-20 23:55] road2stat commented on #123
@aosmith16 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-12-20 23:56] #121 closed

[2017-12-21 15:20] #123 closed

[2017-12-24 19:05] mayank634 opened #124 "New Subdomain Request"
Hi,

I would like to request a new rbind.io subdomain for my exisiting netlify subdomain. The details are mentioned below

### Netlify website address

pensive-mcnulty-2023ca.netlify.com/

### Preferred rbind.io subdomain

mydatavoyage.rbind.io

[2017-12-25 01:31] road2stat commented on #124
@mayank634 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-12-25 09:14] mayank634 commented on #124
Thank you so much!

[2017-12-25 10:25] #124 closed

[2017-12-25 14:14] drkamarul opened #125 "my rbind.io is not updating"
Hi,
Mine is <https://github.com/rbind/drkamarul>. I pushed a new post and an edited an older post to rbind. The last push was today. But the webpage does not update. Did I miss anything ie I am not the admin of the my rbind.io. I also note that there is only 1 contributor that is @thercast . rbind folks and @thercast , can you help me? Best wishes.

[2017-12-27 18:17] thercast commented on #125
Hi @drkamarul, there seems to be an issue with the DNS record for your site.  I'm not sure how it happened but the CNAME record for your site alias of http://drkamarul.rbind.io/ is pointing to a different domain for your site at http://hydrographer-radio-54151.netlify.com/ (you'll see if you visit this site that it has your updated content) and not https://drkamarul.netlify.com/, which is current

[2017-12-27 18:28] thercast commented on #125
@yihui sorry to trouble you for this, but I tried to change the CNAME record for @drkamarul's site in your rbind DNS app so that it points to https://drkamarul.netlify.com/ instead of https://hydrographer-radio-54151.netlify.com  (which the current CNAME record points to) but the app gave an error (I'm guessing the app doesn't allow modifying existing records).  Do you have any suggestions on how

[2017-12-27 19:09] yihui commented on #125
@thercast I have changed the CNAME record and pointed to drkamarul.netlify.com (you aren't able to do this from the app I gave you).

[2017-12-27 22:50] drkamarul commented on #125
Hi @thercast , @yihui, please let me know if there are things I need to do on my part. My apology for taking your time during this festive season.

[2017-12-28 15:04] JiayiJi opened #126 "Requesting subdomain for Netlify"
Hi, my Netlify website address is

https://agitated-jepsen-e08ce5.netlify.com/

My preferred rbind.io subdomain is

jiayi.rbind.io

Thanks!

[2017-12-28 15:41] road2stat commented on #126
@JiayiJi - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

Thanks!

[2017-12-28 17:15] JiayiJi commented on #126
Thanks! I've set the rbind subdomain in my Netlify account and update the baseurl in my config.toml file to reflect my new rbind subdomain name (so mine is baseurl = "https://jiayi.rbind.io/"). Now I can use my rbind subdomain. However, when I go to a new page in my website, I will always encounter "Your connection is not private" notification indicating the site I am visiting is not secure. Do yo

[2017-12-28 17:37] road2stat commented on #126
@JiayiJi - good question, I saw similar issues before. Just guessing... is there a switch or some options about SSL/https for the rbind.io subdomain you could flip on Netlify? Sorry for asking this because I'm not a Netlify user yet...

[2017-12-28 18:30] JiayiJi commented on #126
Thank you for your hint! I solved the problem myself. I have to enable automatic TLS certificates on Netlify. Thanks again for your quick response
![screen shot 2017-12-28 at 13 28 05](https://user-images.githubusercontent.com/26682045/34419652-100e878e-ebd3-11e7-88a9-c2fe03efbd02.png)

[2017-12-28 18:30] #126 closed

[2017-12-28 23:27] drkamarul commented on #125
Hi @thercast , @yihui

[2017-12-28 23:27] #125 closed

[2018-01-01 02:39] softloud opened #127 "New rbind.io request."
Hi there,
I'm setting up a blog and came across this: https://support.rbind.io/2017/05/29/romain-francois-s-site-with-blogdown-hugo-rbind/ This sounds like the perfect workflow for me.

Don't know if it's too broad for your group, but I plan to blog about stats, R, tidyverse, productivity for data science, mathematics, and just a little musical theory.
Best, \C

### Netlify website address

exampl

[2018-01-01 06:50] road2stat commented on #94
Hi @ruaridhw - just a reminder -- please add ruaridhw.rbind.io as the custom domain for your Netlify site. Also, please remember to enable the automatic TLS certificates for the custom domain (Domain management -> HTTPS).

[2018-01-01 06:51] #91 closed

[2018-01-01 06:51] #65 closed

[2018-01-01 06:52] #86 closed

[2018-01-01 06:56] road2stat commented on #58
Hi @coreysparks - just a reminder -- please add coreysparks.rbind.io as the custom domain for your Netlify site. Also, please remember to enable the automatic TLS certificates for the custom domain (Domain management -> HTTPS). Thanks!

[2018-01-01 07:17] road2stat commented on #127
@softloud - welcome! We're happy to have you in the rbind family. The setup process is simple. The first step would be creating a blogdown website locally, and push it to a GitHub repo.

The next step would be logging into Netlify, click the button "New site from Git", click the GitHub button, authorize Netlify to access your GitHub repos. Select your blogdown website repo in the repo list. Then t

[2018-01-01 11:41] softloud commented on #127
Thanks, Nan - the rstats community just keeps surprising me with how wonderfully supportive it is.

How did I miss those screenshots in the Netlify section? Thanks for putting me onto that. Really appreciate the support.

Before I forget, I'm using Hugo and the `spf13/hyde` theme.

I selected the repo, and followed along with the screen shots and set my build command to hugo and my publish directo

[2018-01-01 18:37] andkov opened #128 "New rbind.io request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address
andriy.netlify.com

### Preferred rbind.io subdomain

andriy.rbind.io

Thank you!

[2018-01-01 19:28] road2stat commented on #128
@andkov - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management -

[2018-01-01 19:55] andkov commented on #128
Thank you, @road2stat, for such a short turn around.  Happy new year!

[2018-01-01 20:19] andkov commented on #128
@road2stat , could you please add me to the rbind org so I can transfer the source for my blog? Thank you.

[2018-01-02 01:58] jpreszler opened #129 "rbind.io subdomain request"
### Netlify website address

jpreszler.netlify.com

### Preferred rbind.io subdomain

jpreszler.rbind.io

Thanks,
Jason

[2018-01-02 04:13] road2stat commented on #128
@andkov - that's done. Please check the email invitation.

[2018-01-02 04:15] road2stat commented on #129
@jpreszler - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-01-02 04:29] jpreszler commented on #129
Thanks for the quick response, @road2stat !

[2018-01-02 04:29] #129 closed

[2018-01-02 13:29] andkov commented on #128
Thank you, @road2stat. I have just submitted the transfer request.

Unfortunately, I cannot complete the domain change.  When following the [instructions ](https://support.rbind.io/about/) I do change the name on my netlify account
![image](https://user-images.githubusercontent.com/2608073/34484722-9eef5644-ef7b-11e7-9b4e-811fa05fd972.png)

When following the prompt to "Check DNS configuration" ,

[2018-01-02 13:38] road2stat commented on #128
@andkov - please remove the `www.`, and just use `andriy.rbind.io` as your custom domain name (I'd recommend delete the previously added record and start fresh). Then you should be able to enable HTTPS for this custom domain.

[2018-01-02 13:47] andkov commented on #128
@road2stat, yes, that was it. Site is now available from [andriy.rbind.io](http://andriy.rbind.io/)

Thanks for your help!

[2018-01-02 13:47] #128 closed

[2018-01-03 14:22] orchid00 commented on #127
I think it should be 0.32.1 without quotes

[2018-01-05 09:49] orchid00 opened #130 "New rbind.io subdomain request"
Hi, just started using hugo themes -academic
here is my request please. Let me know how can I further help with this and if I am able to do modifications from github directly that will render in the new URL.
Thanks!

### Netlify website address

https://paulaandrea.netlify.com/

### Preferred rbind.io subdomain

paulaandrea.rbind.io

[2018-01-05 10:33] road2stat commented on #130
Hi @orchid00 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-01-05 16:35] shhuang1 opened #131 "New rbind.io subdomain request"
Hello,
I'd like to request a subdomain for my lab at NYU.

### Netlify website address

huanglab.netlify.com

### Preferred rbind.io subdomain

huanglab.rbind.io

Thanks,
Carol Huang

[2018-01-05 17:48] road2stat commented on #131
@shhuang1 - nice website! Congrats on your new lab and we are thrilled to include you in the rbind family. I have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.

[2018-01-05 23:40] shhuang1 commented on #131
This is working great!  Thanks a lot.

-Carol

[2018-01-05 23:40] #131 closed

[2018-01-07 04:13] aniruhil opened #132 "rbind.io subdomain request"
Hi there;

I've been tinkering with blogdown and want to switch my site to rbind.io. I teach stats with R and also use it in my work and with all you folks are doing for the stats community now is the time to start writing more!

The netlify website address: milo.netlify.com

preferred rbind.io subdomain: ani.rbind.io

If that is not permissible then: aniruhil.rbind.io

I will be using the Hugo-ac

[2018-01-07 04:25] WangDing666 opened #133 "rbind.io subdomain request"
### Netlify website address

jiajun.netlify.com
 Preferred rbind.io subdomain

jiajun.rbind.io

thanks, and happy 2018!

[2018-01-07 04:41] road2stat commented on #133
@WangDing666 - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-01-07 04:44] road2stat commented on #132
@aniruhil - looks great! I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Doma

[2018-01-07 05:01] aniruhil commented on #132
thanks @road2stat. I'll be in touch if something goes wrong.

[2018-01-07 05:15] aniruhil commented on #132
@road2stat, I believe I have to wait for an invite to bind before moving an existing GitHub repo OR creating a new blogdown site that is pushed to ani.rbind.io?

HTTPS is enabled on netlify and the subdomain set as well.

[2018-01-07 09:30] road2stat commented on #132
@aniruhil - that's correct and I have sent the invitation, please check your email. Thanks!

[2018-01-08 02:58] WangDing666 commented on #133
Thank you very much.

[2018-01-08 04:06] #133 closed

[2018-01-08 12:41] timraiswell opened #134 "Subdomain request, thank you!"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

timraiswell.netlify.com

### Preferred rbind.io subdomain

raiswell.rbind.io

[2018-01-08 12:46] road2stat commented on #134
@timraiswell - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-01-08 14:03] orchid00 commented on #130
I think it is working [https://paulaandrea.rbind.io/](https://paulaandrea.rbind.io/)

please let me know if I need or if I could do something else, I am truly grateful!

[2018-01-08 14:09] road2stat commented on #130
-yes, it's working! :)

![](https://media.giphy.com/media/9K2nFglCAQClO/giphy.gif)

[2018-01-10 22:18] bnaras opened #135 "subdomain requst"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

ipam2018ws.netlify.com

### Preferred rbind.io subdomain

ipam2018ws.rbind.io

[2018-01-11 00:57] road2stat commented on #135
@bnaras - I have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management -

[2018-01-15 23:16] TiagoVentura opened #136 "subdomain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

tiagoventura.netlify.com/

### Preferred rbind.io subdomain

tiagoventura.rbind.io

Thank you!

[2018-01-16 18:43] TiagoVentura commented on #136
Thank you! Already working.

http://tiagoventura.rbind.io/

[2018-01-16 18:43] andkov opened #137 "New .rbind.io domain request"
Hi @road2stat, I have another domain name I would like to request you to rename. Thank you!

### Netlify website address

dss-ialh.netlify.com

### Preferred rbind.io subdomain

dss-ialh.rbind.io

[2018-01-16 22:30] deploy15 opened #138 "request for an .rbind.io domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

adeshina.netlify.com

### Preferred rbind.io subdomain

adeshina.rbind.io

[2018-01-17 02:54] road2stat commented on #136
-great! Beautiful website! I'll close the ticket for now. Please just let us know if you got more questions.

[2018-01-17 02:54] #136 closed

[2018-01-17 02:58] road2stat commented on #137
Hi @andkov, thank you for submitting the domain request. We have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS cer

[2018-01-17 02:59] road2stat commented on #138
@deploy15 - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-01-17 02:59] #134 closed

[2018-01-17 03:00] #135 closed

[2018-01-17 03:00] #132 closed

[2018-01-17 03:01] #130 closed

[2018-01-17 14:20] caitlynmralph opened #139 "*.rbind.io domain request"
Hello!

I already have a website made with Blogdown + Hugo. The source is on my Github, and it's hosted through Github pages.

### Github website address

caitlynralph.github.io

### Preferred rbind.io subdomain

caitlyn.rbind.io

I have done the two-repo approach. My source is on "personalwebsite_source" and my master is on "caitlynralph.github.io." Please let me know if this still works.

Thank

[2018-01-17 15:27] road2stat commented on #139
Hi @caitlynralph - I have configured the rbind subdomain you requested while it currently gives us a 404. It looks like Amber's website is also pointed to github.io, but I'm not too sure this time about what magic should be done to make it work, so I'd have to ask @yihui to please take a look.

Personally, I would recommend using Netlify to host your website instead of GitHub Pages, to drastically

[2018-01-17 15:37] yihui commented on #139
@caitlynralph You will need to put a CNAME file in your repo. Here is what Amber did: https://github.com/ProQuestionAsker/ProQuestionAsker.github.io/pull/4/files

[2018-01-17 16:35] caitlynralph commented on #139
Hello, Yihui and Nan! I just added the domain to my Github, and it works great. Thank you so much again. I really appreciate your help and the domain! :)

[2018-01-17 16:39] yihui commented on #139
You are welcome. Just FYI, you can (and should!) use https: https://caitlyn.rbind.io

[2018-01-18 00:23] mrparker909 opened #140 "New .rbind.io domain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

matthew-parker.netlify.com

### Preferred rbind.io subdomain

matthew-parker.rbind.io

[2018-01-18 03:46] road2stat commented on #140
@mrparker909 - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-01-18 04:24] andkov commented on #137
thank you, @road2stat . everything works.

[2018-01-18 04:24] #137 closed

[2018-01-19 17:14] JosueMA opened #141 ".rbind.io domain request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

josuema.netlify.com

### Preferred rbind.io subdomain

josuema.rbind.io

[2018-01-20 07:28] road2stat commented on #141
@JosueMA - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-01-22 16:48] mayank634 commented on #124
@road2stat When I try to access the website using  https://mydatavoyage.rbind.io/ I get a security error like this

![webpage](https://user-images.githubusercontent.com/6551645/35232834-85a4ba7e-ffc2-11e7-9ce4-3de543a6be8a.png)

And when I try to using http://mydatavoyage.rbind.io/ I get the below page without any styling

![webpage](https://user-images.githubusercontent.com/6551645/35232651-0ddcc

[2018-01-22 17:10] road2stat commented on #124
Hi @mayank634 - good question -- if you need SSL (https) for the rbind.io subdomain, please enable the automatic TLS certificates for it on Netlify (Domain management -> HTTPS). It's just one click away.

The reason why the styles disappeared: when you load the website with `http` protocol, the js and css assets were forced to be loaded with `https` protocol instead of `http` (this depends on how

[2018-01-23 11:08] kishvanchee opened #142 "Requst for subdomain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

kishvanchee.netlify.com

### Preferred rbind.io subdomain

kishvanchee.rbind.io

[2018-01-23 12:24] road2stat commented on #142
@kishvanchee - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-01-23 12:24] #141 closed

[2018-01-23 12:25] #140 closed

[2018-01-23 12:52] kishvanchee commented on #142
Thank you very much. A very helpful community :)

[2018-01-23 12:52] #142 closed

[2018-01-23 16:16] JosueMA commented on #141
Thanks!

[2018-01-24 02:12] saidejp opened #143 "request for an .rbind.io domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

http://saidejp.netlify.com

### Preferred rbind.io subdomain

http://saidejp.rbind.io

[2018-01-24 02:25] road2stat commented on #143
@saidejp - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-01-26 01:04] dshahnazian opened #144 "rbind domain request"
Hello,

How can I join rbind and transfer ownership? I've already built and deployed my website (content is WIP), I'd just like to have the repo listed under github.com/rbind if possible.

### Netlify website address
priceless-booth-5a624c.netlify.com

### Preferred rbind.io subdomain

daneshshahnazian.rbind.io

[2018-01-26 01:38] road2stat commented on #144
@dshahnazian - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-01-28 04:08] joongsup opened #145 "Requesting rbind.io subdomain"
Requesting rbind.io subdomain, using the provided template.

Thanks for your time.

### Netlify website address

uncmbbtrivia.netlify.com

### Preferred rbind.io subdomain

joongsup.rbind.io

[2018-01-28 15:25] road2stat commented on #145
@joongsup - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-01-28 20:25] joongsup commented on #145
Thanks @road2stat for a quick response! Really appreciate what you guys are doing for the community. Would like to join the volunteering group as well in near future!

[2018-01-28 20:25] #145 closed

[2018-01-29 04:13] yihui commented on #145
@joongsup I think we always need volunteers to help future users!

@road2stat Do you think you can easily handle the current amount of requests?

[2018-01-29 06:00] joongsup commented on #145
@yihui @road2stat I'm not that familiar with domain management at the moment, but I'm willing to help in any way I can :) Also, sorry for commenting on a closed issue, but is there a way to redirect the visit to netlify address to the new rbind.io one? Thanks again for your time!

[2018-01-29 06:03] yihui commented on #145
See the last section: https://yihui.name/en/2017/11/301-redirect/

[2018-01-29 06:16] joongsup commented on #145
@yihui Amazing! Realizing should've googled better, but thanks again for your time. Please let me know if I can be of any help!

[2018-01-30 00:38] tyluRp opened #146 "*.rbind.io request"
Hi all, would like to join the rbind community.

### Netlify website address

tylurp.netlify.com

### Preferred rbind.io subdomain

tylurp.rbind.io

Please let me know if I missed anything, and thank you.

[2018-01-30 19:08] road2stat commented on #146
@tyluRp - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-01-30 19:09] #143 closed

[2018-01-30 19:09] #138 closed

[2018-01-30 19:09] #144 closed

[2018-01-30 19:17] road2stat commented on #145
@yihui - the current amount is ok -- around 1 request per day by eyeball estimation. That said, we could surely use some more helping hands to prepare for the future.

[2018-01-30 21:36] tyluRp commented on #146
Thanks so much!

[2018-01-30 21:36] #146 closed

[2018-01-31 16:57] yihui commented on #145
Okay. @joongsup If you are willing to help, there is one thing I was hoping someone could do: invite more people to join the rbind organization on Github, and suggest them transfer their website repositories to rbind (this is optional). You can find those people in the many old issues of this repo. If you want to volunteer, I'll convert you to an admin of this organization.

[2018-02-01 18:02] joongsup commented on #145
Sure thing @yihui I’ll see what I can do!

[2018-02-01 18:22] yihui commented on #145
@joongsup I have invited you to join as an admin. Please be extra cautious since you will have the full admin privileges (e.g., you will be able to kick me out if you want :).

Basically I want you to invite users to rbind https://github.com/orgs/rbind/people and ask if they are willing to transfer their existing website repo to rbind:

https://github.com/rbind/support/blob/master/content/about.md

[2018-02-01 18:25] yihui commented on #145
Oh actually another thing I wish someone can help: #38. I hope someone can remind existing rbind members to update the description and actual website URL of their repos. In particular, some people's repositories don't have the URLs.

![image](https://user-images.githubusercontent.com/163582/35695684-e272b726-074a-11e8-827a-75d0667651de.png)

[2018-02-01 20:04] joongsup commented on #145
@yihui First step was to transfer my repo to rbind and it's done! As I thought it'd be automatically done somehow when my rbind.io subdomain was created (thanks to @road2stat), maybe we can start from there? I.e., Remind new ticket users that once rbind.io subdomain is created (through rbind/support), users have an option of transferring their repo to rbind. I'll keep thinking about what else can

[2018-02-01 20:05] yihui commented on #145
Sounds good!

[2018-02-05 00:36] statimatics commented on #38
Hello Yihui,
I am willing to volunteer by putting in a bit of my time with the rbind project. Specifically, I am willing to:

1. I am wiling to hunt down new blogdown sites and invite them to join and transfer sites to rbind. I just transferred mine now despite setting up since Aug 2017 just because I didn't know.
2. Help new users in setting up in common issues like custom domain and DNS records

[2018-02-05 04:15] yihui commented on #38
@statimatics Excellent! I just made you the admin of this organization. Your help will be truly appreciated!

BTW, after people transfer their repositories to rbind, they can actually fork them to their personal accounts. That is what I do myself: my "official" repo is rbind/yihui, but I have a copy at yihui/yihui.name. Below is the part of my git config that makes it possible for me to push to th

[2018-02-05 16:29] thercast commented on #38
I had no idea it was possible to accomplish a push to multiple repos at once.  Thanks for sharing!

[2018-02-05 18:44] suzanbaert opened #147 "Requesting *.rbind.io"
Hi,
I would also love to join the rbind club :)

### Netlify website address
https://suzanbaert.netlify.com/

### Preferred rbind.io subdomain
suzan.rbind.io

I'm using the hugo-tranquilpeak-theme right now.

Thank you
suzan

[2018-02-05 19:49] road2stat commented on #147
@suzanbaert - welcome to the club! We have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Ne

[2018-02-05 20:13] suzanbaert commented on #147
That was incredibly fast! Thank you very much!

One more question, though all the rbind.io addresses seem to work fine, if I click a link from within the main page it is still referring to *.netlify.com.

Apparently some people had issues with opening a netlify link to a tutorial at work, so I would prefer to have everything covered under *.rbind.
How do I made that change?  Is that in my config f

[2018-02-05 20:44] road2stat commented on #147
@suzanbaert

In https://github.com/suzanbaert/BlogFiles/blob/master/config.toml#L15

Let's change

[code]

to

[code]

[2018-02-05 20:50] suzanbaert commented on #147
So it is on my end.
Thanks for the help, works brilliantly!

[2018-02-05 20:50] #147 closed

[2018-02-06 20:01] joongsup commented on #145
@yihui I wrote a draft blog [post](https://github.com/rbind/uncmbbtrivia/blob/master/content/post/2018-02-06-rss-feed.Rmd) that talks about moving site source repo to under rbind repo as I tried to turn on RSS feed. Doesn't XMin theme come with /layouts/rss.xml file?

[2018-02-07 17:30] yihui commented on #145
@joongsup XMin does not have an RSS template, but it is easy to add one. You can start from Hugo's default template: https://gohugo.io/templates/rss/ I think the most desired change to most users would be to show the full content, i.e. change

[code]

to

[code]

You may want to limit the number of entries via `rssLimit` in config.toml ([example](https://github.com/rbind/yihui/blob/master/config.y

[2018-02-07 18:02] joongsup commented on #145
@yihui Yeah indeed the blog [post](https://joongsup.rbind.io/post/2018/02/06/rss-feed/) (which is now published) talks about how I figured out RSS set up by using rbind github repo and seeing what ppl have in their repo.

[2018-02-10 23:12] tonyelhabr opened #148 "yet another .rbind.io request"
Hi. I would like to request a subdomain.

### Netlify website address

tonyelhabr.netlify.com

### Preferred rbind.io subdomain

tonyelhabr.rbind.io

Thanks in advance!

[2018-02-11 15:43] road2stat commented on #148
@tonyelhabr - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-02-12 00:23] tonyelhabr commented on #148
Seems like everything is working!

[2018-02-12 00:23] #148 closed

[2018-02-12 05:40] gd6 opened #149 "Domain request"
### Netlify website address

https://kind-carson-39b265.netlify.com

### Preferred rbind.io subdomain

sep.rbind.io

### Additional Comment

Thank you all for your work! SEP (the Student Empowerment Project) is a student organization interested in fostering open cooperation, and we have been making a lot of use of Bookdown to develop [study guides](https://open-cuny.appspot.com) (including a few s

[2018-02-13 00:58] road2stat commented on #149
@gd6 - cool website! We're happy to have you folks in the rbind family. I have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable th

[2018-02-13 02:51] gd6 commented on #149
Thanks a lot! It looks like GitHub repos can't be pointed to even if you're collaborators on them unless you've forked them? That is, I seem to be unable to point the site to this repo as a source: https://github.com/sepqc/sep-blog

But in any case it's working great! Thanks so much for letting us aboard! I'd love to be able to ask y'all some questions regarding Blogdown's capabilities for embeddi

[2018-02-13 06:33] #149 closed

[2018-02-13 17:44] yihui commented on #149
@road2stat To my knowledge, there are no such a thing as "sub-sub-domains" -- `blog.sep.rbind.io` and `sep.rbind.io` are both subdomains, and the dot in `blog.sep` has no special meaning (technically), so yes, you can assign `blog.sep.rbind.io` to @gd6 if desired.

[2018-02-13 19:57] road2stat commented on #149
@yihui -cool! I thought each level added by the dot is semantic and should be relevant to DNS server settings or something... So @gd6 please feel free to let us know where you want to point the subdomain names to if there are multiple (it was a little bit unclear about the `blog.sep` one).

[2018-02-14 06:14] fengfengyuyu opened #150 "Requesting rbind.io subdomain"
Hello!

I am a useR and I am studying to build my own blog.  Blogdown is cool, let me join rbind.io family ^-^

### Github website address
fengfengyuyu.github.io

### Preferred rbind.io subdomain
honebay.rbind.io

Thank you very much! AND HAPPY Spring Festival!

Fengyu

[2018-02-14 07:44] road2stat commented on #150
@fengfengyuyu - welcome to rbind, and happy spring festival!

We have configured the rbind subdomain you requested. To make it work, please put a CNAME file in your repo: https://github.com/rbind/support/issues/139

[2018-02-15 05:18] frankfarach opened #151 "rbind.io subdomain request"
I am requesting a new rbind.io subdomain for my website, which uses the cactus theme for Hugo.

### Netlify website address

frankfarach.netlify.com

### Preferred rbind.io subdomain

frankfarach.rbind.io

[2018-02-15 05:43] gtlaflair opened #152 "Requesting subdomain"
I would like to request an rbind subdomain for my personal academic site

### Netlify website address

gtlaflair.netlify.com

### Preferred rbind.io subdomain

gtlaflair.rbind.io

[2018-02-15 07:38] mcdussault opened #153 "rbind.io subdomain request"
Good morning, I would like to get an rbind subdomain please!
### Netlify website address

mcdussault.netlify.com
### Preferred rbind.io subdomain

mcdussault.rbind.io

Thank you!!!

Marie

[2018-02-15 15:42] road2stat commented on #151
@frankfarach - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-02-15 15:43] road2stat commented on #152
@gtlaflair - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manageme

[2018-02-15 15:44] road2stat commented on #153
@mcdussault - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-02-15 18:06] mcdussault commented on #153
Thank you!!!

On Feb 15, 2018 5:44 PM, Nan Xiao <notifications@github.com> wrote:

@mcdussault<https://github.com/mcdussault> - we have configured the rbind subdomain you requested. Please set the rbind subdomain<https://support.rbind.io/about/> in your Netlify account.

[https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png]<https://user-images.githubu

[2018-02-16 14:33] frankfarach commented on #151
Thank you, @road2stat - the subdomain appears to be working.

[2018-02-16 14:33] #151 closed

[2018-02-17 13:04] nanhung opened #154 "Repo transfer"
Hi, please give me the permission for the repo transfer.
My github repo is https://github.com/nanhung/nanhung.me

### Netlify website address

nanhung.netlify.com

### Preferred rbind.io subdomain

nanhung.rbind.io

[2018-02-17 13:12] road2stat commented on #154
@nanhung - we have just invited you to the rbind organization for transferring your repo and configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also

[2018-02-17 13:44] nanhung commented on #154
Thanks! I already transfer it. Another question is how do I edit the description of my repo in the organization.

[2018-02-17 14:10] road2stat commented on #154
@nanhung - cool! You're now admin of the new repo which will allow editing the description.

[2018-02-18 13:17] mikmart opened #155 "New rbind.io subdomain"
Hey! I've just recently kicked off a blog, and would love for it to be included in Rbind.

// Mikko

### Netlify website address

mikkomarttila.netlify.com

### Preferred rbind.io subdomain

mikmart.rbind.io

[2018-02-18 21:03] martinsatt opened #156 "Request rbind.io subdomain"
Hello, it would be great to get an rbind subdomain. If possible.

My Netlify website address is:

martinsatt.netlify.com

and my preferred rbind.io subdomain would be:

martinsatt.rbind.io

best regards Martin

[2018-02-18 23:04] road2stat commented on #156
@martinsatt - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-02-18 23:05] road2stat commented on #155
@mikmart - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-02-19 00:47] fengfengyuyu commented on #150
@road2stat - thank lots!

I have some trouble in setting netlify. and it sounds like be a problem about the version of [hugo](https://d.cosx.org/d/419791-blogdown-netlify-non-zero-exist-code-255/4) .my hugo is `blogdown::hugo_version()
[1] ‘0.36.1’`. my repo is [repo address](https://github.com/fengfengyuyu/honebay.rbind.io)

[2018-02-19 07:48] mikmart commented on #155
Fantastic, thanks a lot!

[2018-02-19 08:24] mikmart commented on #155
Oh, could you also please invite me to the rbind organisation so I can move my repo over, too?

Thanks!

[2018-02-19 09:06] martinsatt commented on #156
That is great. Thanks for your help.

Regards Martin

[2018-02-19 15:25] road2stat commented on #150
@fengfengyuyu

- the content of your `CNAME` file should be

[code]

[2018-02-19 15:37] road2stat commented on #155
@mikmart - invitation sent.

[2018-02-19 19:39] cortinah opened #157 "requesting rbind subdomain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address
rethinking.netlify.com

### Preferred rbind.io subdomain
rethinking.rbind.io

Thank you very much

[2018-02-19 19:43] road2stat commented on #157
@cortinah - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-02-19 19:48] cortinah commented on #157
Thank you very much for the lighting-fast reply.

[2018-02-20 02:25] fengfengyuyu commented on #150
@road2stat

I revised my `CNAME` file ( content - `honebay.rbind.io` ), but the problem ( 404 ) is not solved.

The process that I added `honebay.rbind.io` domain is as follow:

![default](https://user-images.githubusercontent.com/11608887/36404071-b5bd0488-1623-11e8-9e1b-36bad5538394.png)

I saw the warning `Check DNS Configuration`, clicked it,  then poped a window as follow:

![default](https:/

[2018-02-20 04:18] road2stat commented on #150
@fengfengyuyu - ok... I see where the problem is.

If you want to host the website using Netlify, then

1. please remove the `CNAME` file from [your repo](https://github.com/fengfengyuyu/honebay.rbind.io) because it's no longer useful.
1. we need to reconfigure the rbind DNS record on our side to point it to `honebay.netlify.com`.

@yihui - could you please modify the record `honebay` to point it

[2018-02-20 04:36] yihui commented on #150
Sure. Done.

[2018-02-20 05:02] fengfengyuyu commented on #150
@road2stat @yihui - thanks !  everything is ok !

[2018-02-20 06:42] mikmart commented on #155
Thank you, I've just accepted! Now to figure out the repo move..

[2018-02-20 06:57] #150 closed

[2018-02-20 06:57] #152 closed

[2018-02-20 06:58] #154 closed

[2018-02-21 01:32] RealLucasMeyer opened #159 "New domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

eager-visvesvaraya-df5ed9.netlify.com

### Preferred rbind.io subdomain

lucasmeyer.rbind.io

[2018-02-21 01:50] road2stat commented on #159
@RealLucasMeyer - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain man

[2018-02-21 08:04] mikmart commented on #155
Clearly I'm too hasty with closing these. Maybe third time's the charm? I've just moved my repo, could I now have admin access to it? 😅

[2018-02-21 13:12] road2stat commented on #155
@mikmart - of course, it's done.

[2018-02-21 17:20] mikmart commented on #155
Thanks again, and sorry for the bother! It looks like everything is _actually_ set now!

[2018-02-21 17:20] #155 closed

[2018-02-21 20:49] jbaileyh opened #160 "Request rbind.io subdomain"
Hello, it would be great to get an rbind subdomain. If possible.

My Netlify website address is:

jbaileyh.netlify.com

and my preferred rbind.io subdomain would be:

jbaileyh.rbind.io

best regards,

Joseph

[2018-02-21 20:55] road2stat commented on #160
@jbaileyh - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-02-21 21:04] jbaileyh commented on #160
Excellent thanks!

[2018-02-21 21:04] #160 closed

[2018-02-23 16:22] lerban opened #161 "Request for rbind.io subdomain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

lerban.netlify.com

### Preferred rbind.io subdomain

lerban.rbind.io

[2018-02-23 16:34] road2stat commented on #161
@lerban - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-02-25 17:52] BrianRusk opened #162 "Request for Rbind.io subdomain from Brian Rusk"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

brianvrusk.netlify.com

### Preferred rbind.io subdomain

brianvrusk.rbind.io

Thank you very much!

[2018-02-25 18:57] road2stat commented on #162
@BrianRusk - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manageme

[2018-02-25 19:00] BrianRusk commented on #162
Beautiful. Thank you.

[2018-02-25 19:00] #162 closed

[2018-02-25 22:49] TGKenner opened #163 "Request for rbind.io subdomain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

tgkenner.netlify.com/

### Preferred rbind.io subdomain

TaraK.rbind.io

[2018-02-26 00:32] road2stat commented on #163
@TGKenner - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-02-26 00:33] #153 closed

[2018-02-26 00:34] #159 closed

[2018-02-26 00:34] #161 closed

[2018-02-26 00:35] gd6 commented on #149
Dear Road2stat and Yihui Xie,

I'm sorry on the huge delay on this. For now, since we don't have a main website live apart from our blog yet, just this domain will be fine! Will take you up on that offer later I hope though. Thanks again for your work

[2018-02-26 00:37] road2stat commented on #156
Hey Martin, - no problem at all. It seems that the rbind.io subdomain was redirected with an extra `www.` prefix and it's not really working. I double checked the configuration on our side and it looks ok. Any chance you could fix this on your side?

[2018-02-26 00:43] road2stat commented on #149
@gd6 -cool! No worries at all. Please just let us know the other preferred subdomain names and the original website addresses so we can set them up for you.

[2018-02-26 14:43] martinsatt commented on #156
Hello Nan Xiao,

Thanks for the help. I changed the settings and it works. Great :)

Martin

[2018-02-26 15:30] road2stat commented on #156
- awesome! 👏

[2018-02-26 15:30] #156 closed

[2018-02-26 15:51] mamaciasq opened #164 "New website with blogdown"
Hi @yihui and rbind support team! I have worked for a few months with the RStudio tools. I have done a few great things with bookdown, htmlwidgets and so on and now I am learning blogdown because I wish to work with web pages. I would appreciate if you can send me an invitation to join rbind. Thanks in advance! Martin

[2018-02-26 16:17] road2stat commented on #164
@mamaciasq - welcome to rbind! Invitation sent. Please check email. Just let us know when you need a rbind.io subdomain. -Nan

[2018-02-26 19:07] mamaciasq commented on #164
Thanks a lot, Nan

[2018-02-26 20:14] road2stat commented on #164
@mamaciasq -cool! What's your Netlify website address? So we could point the subdomain to the site.

[2018-02-27 00:15] mamaciasq commented on #164
martin.netlify.com

[2018-02-27 07:42] road2stat commented on #164
@mamaciasq - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manageme

[2018-02-27 14:00] guhjy opened #165 "Apply for a new rbind.io subdomain for blogdown blogs"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

https://awesome-colden-3d02b2.netlify.com

### Preferred rbind.io subdomain

guhjy.rbind.io

### Preferred Hugo theme

Hugo Bootstrap v4 Blog

[2018-02-27 14:55] #165 closed

[2018-02-27 19:58] mamaciasq commented on #164
Thanks a lot! ;-)

[2018-02-28 15:27] guhjy opened #166 "Apply for a new rbind domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address
https://loving-hamilton-f3ca0d.netlify.com

### Preferred rbind.io subdomain

guhjy.rbind.io

[2018-02-28 15:47] road2stat commented on #166
@guhjy - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management -

[2018-02-28 15:47] #164 closed

[2018-02-28 15:48] #163 closed

[2018-03-02 19:41] fbchow opened #167 "Request new domain"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

http://fbchow.netlify.com/

### Preferred rbind.io subdomain

fbchow.rbind.io

[2018-03-03 00:01] road2stat commented on #167
@fbchow - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-03-03 22:16] kaidiloo opened #168 "rbind.io subdomain request"
I would like to have a rbind.io subdomain. Thank you!

### Netlify website address

kaidiloo.netlify.com

### Preferred rbind.io subdomain

kaidiloo.rbind.io

[2018-03-04 00:20] road2stat commented on #168
@kaidiloo - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-03-04 00:31] kaidiloo commented on #168
Thanks so much!

On Saturday, March 3, 2018, Nan Xiao <notifications@github.com> wrote:

--
Kaidi Lõo, PhD
Postdoctoral Fellow
Department of Linguistics
4-32 Assiniboia Hall, University of Alberta
Edmonton, AB T6G 2E7, Canada

[2018-03-04 05:45] maxwelco opened #169 "rbind.io request"
### Netlify website address
maxweeds.netlify.com

### Preferred rbind.io subdomain

maxweeds.rbind.io

Thanks!

[2018-03-04 06:07] road2stat commented on #169
@maxwelco - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-03-04 06:07] road2stat commented on #168
-no worries at all!

[2018-03-04 06:07] #168 closed

[2018-03-04 06:08] #167 closed

[2018-03-05 20:09] entr0py43 opened #170 "rbind.io request"
Thanks for this!  Awesome community support!

###hugo theme
beautifulhugo
https://github.com/halogenica/beautifulhugo

### Netlify website address
entropy.netlify.com

### Preferred rbind.io subdomain
entropy.rbind.io

[2018-03-05 23:49] road2stat commented on #170
@entr0py43 - welcome to rbind! We have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlif

[2018-03-07 23:38] middleprofessor opened #171 "rbind.io request"
I'd very much like an rbind.io domain for a new blog. The focus will be "R Doodles" for implementing statistical best practices in biology.

Hugo theme is tranquilpeaks

### Netlify website address

rdoodles.netlify.com

### Preferred rbind.io subdomain

rdoodles.rbind.io

The site is live

Cheers! Jeff

[2018-03-08 13:21] road2stat commented on #171
@middleprofessor Hi Jeff, - nice site! We have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for

[2018-03-08 14:05] middleprofessor commented on #171
Thanks!

[2018-03-08 15:25] #171 closed

[2018-03-08 21:54] nllspc opened #172 "rbind.io request"
Thank you for the service!

### Netlify website address

erbo.netlify.com

### Preferred rbind.io subdomain

erbo.rbind.io

Now, do I go to netlify --> add custom domain --> erbo.rbind.io ?

[2018-03-08 22:28] henningsway opened #173 "rbind.io request"
### Netlify website address

henningsway.netlify.com

### Preferred rbind.io subdomain

henningsway.rbind.io

[2018-03-09 05:02] road2stat commented on #172
@nllspc - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-03-09 05:03] road2stat commented on #173
@henningsway - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-03-09 11:07] #173 closed

[2018-03-09 18:41] davidmeza1 opened #174 "rbind.io request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address
https://davidmeza1.netlify.com/

### Preferred rbind.io subdomain

knowledgeR.rbind.io

Thank you,

David

[2018-03-10 02:43] road2stat commented on #174
@davidmeza1 - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managem

[2018-03-10 16:21] weiyangtham opened #175 "rbind.io request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

weiyangtham.netlify.com

### Preferred rbind.io subdomain

wytham.rbind.io

Thank you!

[2018-03-10 17:04] road2stat commented on #175
@weiyangtham - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-03-10 17:04] #169 closed

[2018-03-10 17:05] #172 closed

[2018-03-11 06:19] #175 closed

[2018-03-12 03:47] lcolladotor opened #176 "Admin rights request for the lcolladotorsource repo"
Hi,

Can I get admin rights to https://github.com/rbind/lcolladotorsource?

Thanks,
Leo

[2018-03-12 14:03] road2stat commented on #176
@lcolladotor - admin added. Please check if it works. -Nan

[2018-03-12 14:06] lcolladotor commented on #176
It works, thanks!

[2018-03-12 14:06] #176 closed

[2018-03-15 15:08] damienjacques opened #177 "rbind.io subdomain requests"
Thanks !

### Netlify website address

damien-c-jacques.netlify.com

### Preferred rbind.io subdomain

damien-c-jacques.rbind.io

[2018-03-15 15:11] road2stat commented on #177
@damienjacques - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain mana

[2018-03-15 15:12] #174 closed

[2018-03-15 15:18] #177 closed

[2018-03-15 21:06] the-Hull opened #178 "rbind.io domain request"
Dear support team, I'd please like to get one of these rbind.io's also. Thanks so much!

### Netlify website address

affectionate-turing-70b3b0.netlify.com/

### Preferred rbind.io subdomain

aglhurley.rbind.io

[2018-03-15 23:37] road2stat commented on #178
@the-Hull - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen

[2018-03-15 23:40] road2stat commented on #166
Hi @guhjy , I just want to follow up since it seems the rbind subdomain still haven't been added to the Netlify website (showing "not found"). Is there anything we could help? Please let us know. -Nan

[2018-03-15 23:42] road2stat commented on #170
Hi @entr0py43, I just want to follow up since it seems the Netlify website doesn't exist and the rbind subdomain hasn't been added to it (showing "not found"). Is there anything we could help? Please let us know. -Nan

[2018-03-16 00:33] entr0py43 commented on #170
Hey, i changed the name i thought, i got sidetracked.. i'll keep you posted in the next couple weeks if i need help. thanks for reaching out!!    

    On Thursday, March 15, 2018, 7:42:16 PM EDT, Nan Xiao <notifications@github.com> wrote:

Hi @entr0py43, I just want to follow up since it seems the Netlify website doesn't exist and the rbind subdomain hasn't been added to it (showing "not found").

[2018-03-16 09:59] the-Hull commented on #178
Thanks @road2stat - the R community/rbind.io/RStudio is fantastic. A notification on Netlify is warning me about DNS certificates taking up 24 h to be in effect after set-up. I'll wait until tonight (CET) and will report back, as the subdomain is not yet working (despite changing baseurl). In any case - fantastic, and thanks again!

[2018-03-16 20:30] XUKEREN opened #179 "rbind.io domain request"
Dear support team, I'd like to get one rbind.io. Thank you so much!

Netlify website address:
https://brave-bose-2b6b05.netlify.com/

Preferred rbind.io subdomain

xukeren.rbind.io

[2018-03-16 21:36] road2stat commented on #179
@XUKEREN - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain management

[2018-03-16 22:43] XUKEREN commented on #179
Works! Thank you very much!

[2018-03-16 22:43] #179 closed

[2018-03-17 02:39] CraigWhippo opened #180 "rbind.io request"
Please use this template for new rbind.io subdomain requests. Thank you!

### Netlify website address

https://craigwhippo.netlify.com/

### Preferred rbind.io subdomain

criagwhippo.rbind.io

[2018-03-17 02:53] road2stat commented on #180
@CraigWhippo - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manage

[2018-03-17 03:06] CraigWhippo commented on #180
I misspelled  the preferred rbind.io sudomain.

please change it to craigwhippo.rbind.io.

Thanks

[2018-03-17 03:20] road2stat commented on #180
@CraigWhippo - fixed.

[2018-03-17 03:21] CraigWhippo commented on #180
Thanks so much!

[2018-03-17 03:34] #180 closed

[2018-03-19 03:48] road2stat commented on #178
-great! Glad it works!
-Nan

[2018-03-19 03:48] #178 closed

[2018-03-22 15:27] ronnyhdez opened #181 "rbind.io subdomain request"
Hello, this is my subdomain request.
Thank you!

### Netlify website address

https://ronnyhdez.netlify.com/

### Preferred rbind.io subdomain

ronnyhdez.rbind.io

[2018-03-22 16:09] road2stat commented on #181
@ronnyhdez - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain manageme

[2018-03-24 00:30] alistaire47 opened #182 "subdomain request"
Hi! Could I get alistaire.rbind.io? Details:

### Netlify website address
https://alistaire.netlify.com/

### Preferred rbind.io subdomain
alistaire.rbind.io

### Theme
[Future Imperfect](https://github.com/jpescador/hugo-future-imperfect)

Thanks for setting this up!

Best,
Edward

[2018-03-24 02:04] road2stat commented on #182
@alistaire47 - cool website! We have just configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Net

[2018-03-24 03:33] alistaire47 commented on #182
Awesome, thank you so much!

[2018-03-24 03:33] #182 closed

[2018-03-24 15:55] tojyouso opened #183 "rbind.io subdomain request"
Hello, this is my subdomain request.
Thank you!

### Netlify website address

https://tojyouso.netlify.com

### Preferred rbind.io subdomain

tojyouso.rbind.io

[2018-03-24 22:27] road2stat commented on #183
@tojyouso - we have configured the rbind subdomain you requested. Please [set the rbind subdomain](https://support.rbind.io/about/) in your Netlify account.

![](https://user-images.githubusercontent.com/163582/31508235-11282aa2-af43-11e7-8204-3d019ef7fe33.png)

If you need SSL (https) for the rbind.io subdomain, please also enable the automatic TLS certificates for it on Netlify (Domain managemen